.cursor/n8nsped.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "upload-sped-efd",
          "responseMode": "responseNode",
          "options": {
            "rawBody": false
          }
        },
        "id": "af0570ab-74aa-48d3-b964-4953e3060c29",
        "name": "Webhook - Recebe Upload",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1168,
          -48
        ],
        "webhookId": "7c930a94-285d-4683-bf89-c92967cdad0d"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// VALIDAÇÃO INICIAL DO REQUEST\n// ============================================================================\n\nconst input = $input.first().json;\n\n// Extrair body se necessário\nlet body;\nif (input.body) {\n  body = typeof input.body === 'string' ? JSON.parse(input.body) : input.body;\n} else {\n  body = input;\n}\n\nconst {\n  tipoSped,        // 'ICMS_IPI' ou 'CONTRIBUICOES'\n  empresaId,       // ID da empresa no sistema\n  empresaNome,     // Nome da empresa\n  empresaCnpj,     // CNPJ da empresa\n  competencia,     // MM/YYYY\n  arquivos,        // Array de arquivos [{filename, fileContent, fileSize}]\n  userId,          // ID do usuário que fez upload\n  timestamp        // Timestamp do upload\n} = body;\n\n// ============================================================================\n// VALIDAÇÕES\n// ============================================================================\n\n// Validar tipo SPED\nif (!tipoSped || !['ICMS_IPI', 'CONTRIBUICOES'].includes(tipoSped)) {\n  throw new Error('Tipo de SPED inválido. Use: ICMS_IPI ou CONTRIBUICOES');\n}\n\n// Validar empresa\nif (!empresaId || !empresaNome) {\n  throw new Error('Dados da empresa são obrigatórios');\n}\n\n// Validar competência (MM/YYYY)\nconst competenciaRegex = /^(0[1-9]|1[0-2])\\/\\d{4}$/;\nif (!competencia || !competenciaRegex.test(competencia)) {\n  throw new Error('Competência inválida. Use o formato MM/YYYY');\n}\n\n// Validar arquivos\nif (!arquivos || !Array.isArray(arquivos) || arquivos.length === 0) {\n  throw new Error('Nenhum arquivo enviado');\n}\n\nif (arquivos.length > 12) {\n  throw new Error('Máximo de 12 arquivos por upload');\n}\n\n// Validar cada arquivo\nfor (const [index, arquivo] of arquivos.entries()) {\n  if (!arquivo.filename || !arquivo.fileContent) {\n    throw new Error(`Arquivo ${index + 1} está incompleto`);\n  }\n  if (!arquivo.filename.toLowerCase().endsWith('.txt')) {\n    throw new Error(`Arquivo ${arquivo.filename} deve ser .txt`);\n  }\n}\n\n// Gerar ID do lote\nconst loteId = `lote_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Preparar dados para processamento\nreturn {\n  json: {\n    loteId,\n    tipoSped,\n    empresaId,\n    empresaNome,\n    empresaCnpj: empresaCnpj || '',\n    competencia,\n    totalArquivos: arquivos.length,\n    arquivos: arquivos.map((arq, idx) => ({\n      index: idx + 1,\n      filename: arq.filename,\n      fileContent: arq.fileContent,\n      fileSize: arq.fileSize || 0\n    })),\n    userId: userId || 'anonymous',\n    timestamp: timestamp || new Date().toISOString(),\n    status: 'validated'\n  }\n};"
        },
        "id": "ef5a0edf-4deb-4a0e-a301-2d80b4fdd0b0",
        "name": "Validar Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -944,
          -48
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// PREPARAR ITENS PARA PROCESSAMENTO EM LOTE\n// ============================================================================\n\nconst input = $input.first().json;\n\n// Criar um item para cada arquivo\nconst items = input.arquivos.map(arquivo => ({\n  json: {\n    loteId: input.loteId,\n    tipoSped: input.tipoSped,\n    empresaId: input.empresaId,\n    empresaNome: input.empresaNome,\n    empresaCnpj: input.empresaCnpj,\n    competencia: input.competencia,\n    totalArquivos: input.totalArquivos,\n    arquivoIndex: arquivo.index,\n    filename: arquivo.filename,\n    fileContent: arquivo.fileContent,\n    fileSize: arquivo.fileSize,\n    userId: input.userId,\n    timestamp: input.timestamp\n  }\n}));\n\nreturn items;"
        },
        "id": "f091fe1f-6696-4d81-ac9c-4f74e42c6ceb",
        "name": "Separar Arquivos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -720,
          -48
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "condition-icms",
                "leftValue": "={{ $json.tipoSped }}",
                "rightValue": "ICMS_IPI",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "20758f67-3bba-42c8-9b43-9544cda8ed0b",
        "name": "Tipo SPED?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -496,
          -48
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// PROCESSADOR SPED ICMS/IPI - VERSÃO CORRIGIDA (SEM XLSX.require)\n// Objetivo: Analisar o SPED (.txt) e retornar dados JSON estruturados.\n// ============================================================================\n\nconst input = $json;\n\n// Decodificar conteúdo Base64\nconst content = Buffer.from(input.fileContent, 'base64').toString('latin1');\nconst lines = content.split('\\n');\n\n// ============================================================================\n// FUNÇÕES AUXILIARES\n// ============================================================================\n\nfunction parseLine(line) {\n  line = (line || '').trim();\n  if (!line.startsWith('|')) return { reg: null, campos: null };\n  const parts = line.split('|');\n  if (parts.length < 2) return { reg: null, campos: null };\n  return { \n    reg: parts[1], \n    campos: line.endsWith('|') ? parts.slice(1, -1) : parts.slice(1) \n  };\n}\n\nfunction parseDecimal(value) {\n  if (!value) return 0;\n  try { return parseFloat(value.replace(',', '.')); } \n  catch { return 0; }\n}\n\nfunction parseDate(value) {\n  if (!value || value.length !== 8) return '';\n  return `${value.substr(0, 2)}/${value.substr(2, 2)}/${value.substr(4, 4)}`;\n}\n\nfunction formatCnpj(cnpj) {\n  if (!cnpj || cnpj.length !== 14) return cnpj || '';\n  return `${cnpj.substr(0, 2)}.${cnpj.substr(2, 3)}.${cnpj.substr(5, 3)}/${cnpj.substr(8, 4)}-${cnpj.substr(12, 2)}`;\n}\n\nfunction formatCpf(cpf) {\n  if (!cpf || cpf.length !== 11) return cpf || '';\n  return `${cpf.substr(0, 3)}.${cpf.substr(3, 3)}.${cpf.substr(6, 3)}-${cpf.substr(9, 2)}`;\n}\n\n// ============================================================================\n// ESTRUTURAS DE DADOS\n// ============================================================================\n\nconst registros = {};\nlet empresa = {};\nlet contabilista = {};\nconst participantes = [];\nconst produtos = [];\nconst documentos_entrada = [];\nconst documentos_saida = [];\nconst analitico_docs = [];\nlet apuracao_icms = {};\nlet apuracao_icms_st = {};\nconst combustiveis = [];\nconst tanques = [];\nconst bicos = [];\n\n// ============================================================================\n// PROCESSAR LINHAS\n// ============================================================================\n\nfor (const line of lines) {\n  const { reg, campos } = parseLine(line);\n  if (!reg || !campos) continue;\n  \n  if (!registros[reg]) registros[reg] = [];\n  registros[reg].push(campos);\n  \n  // Registro 0000 - Abertura\n  if (reg === '0000' && campos.length >= 15) {\n    empresa = {\n      versao_layout: campos[1] || '',\n      finalidade: campos[2] === '0' ? 'Original' : 'Retificadora',\n      dt_inicial: parseDate(campos[3]),\n      dt_final: parseDate(campos[4]),\n      nome: campos[5] || '',\n      cnpj: formatCnpj(campos[6]),\n      cnpj_raw: campos[6] || '',\n      uf: campos[8] || '',\n      ie: campos[9] || '',\n      cod_mun: campos[10] || '',\n      im: campos[11] || '',\n      perfil: campos[13] || '',\n      atividade: campos[14] === '0' ? 'Industrial' : 'Outros'\n    };\n  }\n  \n  // Registro 0005 - Dados Complementares\n  if (reg === '0005' && campos.length >= 7) {\n    empresa.fantasia = campos[1] || '';\n    empresa.cep = campos[2] || '';\n    empresa.endereco = campos[3] || '';\n    empresa.numero = campos[4] || '';\n    empresa.complemento = campos[5] || '';\n    empresa.bairro = campos[6] || '';\n    empresa.telefone = campos[7] || '';\n    empresa.email = campos[9] || '';\n  }\n  \n  // Registro 0100 - Contabilista\n  if (reg === '0100' && campos.length >= 13) {\n    contabilista = {\n      nome: campos[1] || '',\n      cpf: formatCpf(campos[2]),\n      crc: campos[3] || '',\n      email: campos[12] || ''\n    };\n  }\n  \n  // Registro 0150 - Participantes\n  if (reg === '0150' && campos.length >= 5) {\n    participantes.push({\n      codigo: campos[1] || '',\n      nome: campos[2] || '',\n      cnpj: campos[4] && campos[4].length === 14 ? formatCnpj(campos[4]) : '',\n      cpf: campos[5] && campos[5].length === 11 ? formatCpf(campos[5]) : '',\n      ie: campos[6] || '',\n      cod_mun: campos[7] || '',\n      endereco: campos[9] || '',\n      numero: campos[10] || '',\n      bairro: campos[12] || ''\n    });\n  }\n  \n  // Registro 0200 - Produtos\n  if (reg === '0200' && campos.length >= 7) {\n    produtos.push({\n      codigo: campos[1] || '',\n      descricao: campos[2] || '',\n      cod_barra: campos[3] || '',\n      unidade: campos[5] || '',\n      tipo: campos[6] || '',\n      ncm: campos[7] || '',\n      cest: campos[12] || '',\n      aliq_icms: parseDecimal(campos[11])\n    });\n  }\n  \n  // Registro C100 - Documentos Fiscais\n  if (reg === 'C100' && campos.length >= 12) {\n    const ind_oper = campos[1] || '';\n    const doc = {\n      operacao: ind_oper === '0' ? 'ENTRADA' : 'SAÍDA',\n      emitente: campos[2] === '0' ? 'Própria' : 'Terceiros',\n      cod_participante: campos[3] || '',\n      modelo: campos[4] || '',\n      serie: campos[6] || '',\n      numero: campos[7] || '',\n      dt_emissao: parseDate(campos[9]),\n      vl_documento: parseDecimal(campos[11]),\n      vl_mercadorias: parseDecimal(campos[15]),\n      vl_bc_icms: parseDecimal(campos[20]),\n      vl_icms: parseDecimal(campos[21]),\n      vl_bc_icms_st: parseDecimal(campos[22]),\n      vl_icms_st: parseDecimal(campos[23]),\n      vl_pis: parseDecimal(campos[25]),\n      vl_cofins: parseDecimal(campos[26])\n    };\n    \n    if (ind_oper === '0') {\n      documentos_entrada.push(doc);\n    } else {\n      documentos_saida.push(doc);\n    }\n  }\n  \n  // Registro C190 - Analítico\n  if (reg === 'C190' && campos.length >= 7) {\n    analitico_docs.push({\n      cst_icms: campos[1] || '',\n      cfop: campos[2] || '',\n      aliq_icms: parseDecimal(campos[3]),\n      vl_operacao: parseDecimal(campos[4]),\n      vl_bc_icms: parseDecimal(campos[5]),\n      vl_icms: parseDecimal(campos[6]),\n      vl_bc_icms_st: parseDecimal(campos[7]),\n      vl_icms_st: parseDecimal(campos[8])\n    });\n  }\n  \n  // Registro E110 - Apuração ICMS\n  if (reg === 'E110' && campos.length >= 14) {\n    apuracao_icms = {\n      vl_total_debitos: parseDecimal(campos[1]),\n      vl_ajustes_debitos: parseDecimal(campos[2]),\n      vl_total_ajustes_debitos: parseDecimal(campos[3]),\n      vl_estornos_creditos: parseDecimal(campos[4]),\n      vl_total_creditos: parseDecimal(campos[5]),\n      vl_ajustes_creditos: parseDecimal(campos[6]),\n      vl_total_ajustes_creditos: parseDecimal(campos[7]),\n      vl_estornos_debitos: parseDecimal(campos[8]),\n      vl_saldo_credor_anterior: parseDecimal(campos[9]),\n      vl_saldo_apurado: parseDecimal(campos[10]),\n      vl_total_deducoes: parseDecimal(campos[11]),\n      vl_icms_recolher: parseDecimal(campos[12]),\n      vl_saldo_credor_transportar: parseDecimal(campos[13]),\n      vl_debitos_especiais: parseDecimal(campos[14])\n    };\n  }\n  \n  // Registro E210 - Apuração ICMS ST\n  if (reg === 'E210' && campos.length >= 14) {\n    apuracao_icms_st = {\n      vl_saldo_credor_anterior_st: parseDecimal(campos[2]),\n      vl_devol_st: parseDecimal(campos[3]),\n      vl_ressarc_st: parseDecimal(campos[4]),\n      vl_outros_creditos_st: parseDecimal(campos[5]),\n      vl_retencao_st: parseDecimal(campos[7]),\n      vl_outros_debitos_st: parseDecimal(campos[8]),\n      vl_deducoes_st: parseDecimal(campos[11]),\n      vl_icms_recolher_st: parseDecimal(campos[12]),\n      vl_saldo_credor_transportar_st: parseDecimal(campos[13])\n    };\n  }\n  \n  // Registro 1300 - Combustíveis\n  if (reg === '1300' && campos.length >= 10) {\n    combustiveis.push({\n      cod_item: campos[1] || '',\n      dt_fechamento: parseDate(campos[2]),\n      estoque_abertura: parseDecimal(campos[3]),\n      volume_entradas: parseDecimal(campos[4]),\n      volume_disponivel: parseDecimal(campos[5]),\n      volume_saidas: parseDecimal(campos[6]),\n      estoque_escritural: parseDecimal(campos[7]),\n      ajuste_perda: parseDecimal(campos[8]),\n      ajuste_ganho: parseDecimal(campos[9]),\n      fechamento_fisico: parseDecimal(campos[10])\n    });\n  }\n  \n  // Registro 1310 - Tanques\n  if (reg === '1310' && campos.length >= 9) {\n    tanques.push({\n      num_tanque: campos[1] || '',\n      estoque_abertura: parseDecimal(campos[2]),\n      volume_entradas: parseDecimal(campos[3]),\n      volume_disponivel: parseDecimal(campos[4]),\n      volume_saidas: parseDecimal(campos[5]),\n      estoque_escritural: parseDecimal(campos[6]),\n      ajuste_perda: parseDecimal(campos[7]),\n      ajuste_ganho: parseDecimal(campos[8]),\n      fechamento_fisico: parseDecimal(campos[9])\n    });\n  }\n  \n  // Registro 1320 - Bicos\n  if (reg === '1320' && campos.length >= 10) {\n    bicos.push({\n      num_bico: campos[1] || '',\n      nr_intervencao: campos[2] || '',\n      motivo: campos[3] || '',\n      interventor: campos[4] || '',\n      valor_fechamento: parseDecimal(campos[7]),\n      valor_abertura: parseDecimal(campos[8]),\n      volume_aferido: parseDecimal(campos[9]),\n      volume_vendas: parseDecimal(campos[10])\n    });\n  }\n}\n\n// ============================================================================\n// CALCULAR RESUMOS\n// ============================================================================\n\nconst cfop_resumo = {};\nfor (const an of analitico_docs) {\n  const cfop = an.cfop;\n  if (!cfop_resumo[cfop]) {\n    cfop_resumo[cfop] = { qtd: 0, vl_operacao: 0, vl_bc_icms: 0, vl_icms: 0, vl_bc_icms_st: 0, vl_icms_st: 0 };\n  }\n  cfop_resumo[cfop].qtd += 1;\n  cfop_resumo[cfop].vl_operacao += an.vl_operacao;\n  cfop_resumo[cfop].vl_bc_icms += an.vl_bc_icms;\n  cfop_resumo[cfop].vl_icms += an.vl_icms;\n  cfop_resumo[cfop].vl_bc_icms_st += an.vl_bc_icms_st;\n  cfop_resumo[cfop].vl_icms_st += an.vl_icms_st;\n}\n\nconst total_entradas = documentos_entrada.reduce((sum, d) => sum + d.vl_documento, 0);\nconst total_saidas = documentos_saida.reduce((sum, d) => sum + d.vl_documento, 0);\nconst total_registros = Object.values(registros).reduce((sum, arr) => sum + arr.length, 0);\n\n// ============================================================================\n// PREPARAR DADOS PARA O NÓ DE PLANILHA\n// ============================================================================\n\n// Dados para as abas\nconst resumoData = [\n  ['ANÁLISE SPED EFD - ESCRITURAÇÃO FISCAL DIGITAL'],\n  [],\n  ['DADOS DA EMPRESA'],\n  ['Razão Social:', empresa.nome],\n  ['Nome Fantasia:', empresa.fantasia],\n  ['CNPJ:', empresa.cnpj],\n  ['Inscrição Estadual:', empresa.ie],\n  ['UF:', empresa.uf],\n  ['Município:', empresa.cod_mun],\n  ['Endereço:', `${empresa.endereco} ${empresa.numero} ${empresa.complemento || ''}`],\n  ['Bairro:', empresa.bairro],\n  ['CEP:', empresa.cep],\n  ['Telefone:', empresa.telefone],\n  ['Período:', `${empresa.dt_inicial} a ${empresa.dt_final}`],\n  ['Finalidade:', empresa.finalidade],\n  ['Perfil:', empresa.perfil],\n  [],\n  ['CONTABILISTA RESPONSÁVEL'],\n  ['Nome:', contabilista.nome],\n  ['CPF:', contabilista.cpf],\n  ['CRC:', contabilista.crc],\n  ['Email:', contabilista.email],\n  [],\n  ['ESTATÍSTICAS DO ARQUIVO'],\n  ['Total de Registros:', total_registros],\n  ['Participantes:', participantes.length],\n  ['Produtos/Serviços:', produtos.length],\n  ['Documentos de Entrada:', documentos_entrada.length],\n  ['Documentos de Saída:', documentos_saida.length],\n  [],\n  ['RESUMO FINANCEIRO'],\n  ['Valor Total Entradas:', total_entradas],\n  ['Valor Total Saídas:', total_saidas]\n];\n\nconst apuracaoData = [\n  ['APURAÇÃO DO ICMS - PERÍODO'],\n  [],\n  ['ICMS PRÓPRIO'],\n  ['Total de Débitos', apuracao_icms.vl_total_debitos || 0],\n  ['Ajustes a Débito', apuracao_icms.vl_ajustes_debitos || 0],\n  ['Estornos de Créditos', apuracao_icms.vl_estornos_creditos || 0],\n  ['Total de Créditos', apuracao_icms.vl_total_creditos || 0],\n  ['Ajustes a Crédito', apuracao_icms.vl_ajustes_creditos || 0],\n  ['Estornos de Débitos', apuracao_icms.vl_estornos_debitos || 0],\n  ['Saldo Credor Anterior', apuracao_icms.vl_saldo_credor_anterior || 0],\n  ['Saldo Apurado', apuracao_icms.vl_saldo_apurado || 0],\n  ['Total de Deduções', apuracao_icms.vl_total_deducoes || 0],\n  ['ICMS a Recolher', apuracao_icms.vl_icms_recolher || 0],\n  ['Saldo Credor a Transportar', apuracao_icms.vl_saldo_credor_transportar || 0],\n  [],\n  ['ICMS SUBSTITUIÇÃO TRIBUTÁRIA'],\n  ['Saldo Credor Anterior ST', apuracao_icms_st.vl_saldo_credor_anterior_st || 0],\n  ['Retenção ST', apuracao_icms_st.vl_retencao_st || 0],\n  ['ICMS ST a Recolher', apuracao_icms_st.vl_icms_recolher_st || 0],\n  ['Saldo Credor ST a Transportar', apuracao_icms_st.vl_saldo_credor_transportar_st || 0]\n];\n\nconst cfopArray = Object.entries(cfop_resumo).map(([cfop, d]) => ({\n  CFOP: cfop,\n  'Qtd Registros': d.qtd,\n  'Valor Operação': d.vl_operacao,\n  'BC ICMS': d.vl_bc_icms,\n  'ICMS': d.vl_icms,\n  'BC ICMS ST': d.vl_bc_icms_st,\n  'ICMS ST': d.vl_icms_st\n})).sort((a, b) => a.CFOP.localeCompare(b.CFOP));\n\nconst partArray = participantes.slice(0, 5000).map(p => ({\n  'Código': p.codigo,\n  'Nome': p.nome,\n  'CNPJ': p.cnpj,\n  'CPF': p.cpf,\n  'IE': p.ie,\n  'Cód.Município': p.cod_mun,\n  'Endereço': p.endereco,\n  'Número': p.numero,\n  'Bairro': p.bairro\n}));\n\nconst prodArray = produtos.slice(0, 5000).map(p => ({\n  'Código': p.codigo,\n  'Descrição': p.descricao,\n  'Cód.Barras': p.cod_barra,\n  'Unidade': p.unidade,\n  'Tipo': p.tipo,\n  'NCM': p.ncm,\n  'CEST': p.cest,\n  'Alíq.ICMS': p.aliq_icms\n}));\n\nconst entradaArray = documentos_entrada.slice(0, 5000).map(d => ({\n  'Operação': d.operacao,\n  'Emitente': d.emitente,\n  'Participante': d.cod_participante,\n  'Modelo': d.modelo,\n  'Série': d.serie,\n  'Número': d.numero,\n  'Data Emissão': d.dt_emissao,\n  'Vl.Documento': d.vl_documento,\n  'Vl.Mercadorias': d.vl_mercadorias,\n  'BC ICMS': d.vl_bc_icms,\n  'ICMS': d.vl_icms,\n  'BC ICMS ST': d.vl_bc_icms_st,\n  'ICMS ST': d.vl_icms_st,\n  'PIS': d.vl_pis,\n  'COFINS': d.vl_cofins\n}));\n\nconst saidaArray = documentos_saida.slice(0, 10000).map(d => ({\n  'Operação': d.operacao,\n  'Emitente': d.emitente,\n  'Participante': d.cod_participante,\n  'Modelo': d.modelo,\n  'Série': d.serie,\n  'Número': d.numero,\n  'Data Emissão': d.dt_emissao,\n  'Vl.Documento': d.vl_documento,\n  'Vl.Mercadorias': d.vl_mercadorias,\n  'BC ICMS': d.vl_bc_icms,\n  'ICMS': d.vl_icms,\n  'BC ICMS ST': d.vl_bc_icms_st,\n  'ICMS ST': d.vl_icms_st,\n  'PIS': d.vl_pis,\n  'COFINS': d.vl_cofins\n}));\n\nconst combArray = combustiveis.map(c => ({\n  'Cód.Item': c.cod_item,\n  'Data Fech.': c.dt_fechamento,\n  'Est.Abertura': c.estoque_abertura,\n  'Vol.Entradas': c.volume_entradas,\n  'Vol.Disponível': c.volume_disponivel,\n  'Vol.Saídas': c.volume_saidas,\n  'Est.Escritural': c.estoque_escritural,\n  'Ajuste Perda': c.ajuste_perda,\n  'Ajuste Ganho': c.ajuste_ganho,\n  'Fech.Físico': c.fechamento_fisico\n}));\n\nconst tanquesArray = tanques.map(t => ({\n  'Num.Tanque': t.num_tanque,\n  'Est.Abertura': t.estoque_abertura,\n  'Vol.Entradas': t.volume_entradas,\n  'Vol.Disponível': t.volume_disponivel,\n  'Vol.Saídas': t.volume_saidas,\n  'Est.Escritural': t.estoque_escritural,\n  'Ajuste Perda': t.ajuste_perda,\n  'Ajuste Ganho': t.ajuste_ganho,\n  'Fech.Físico': t.fechamento_fisico\n}));\n\nconst bicosArray = bicos.map(b => ({\n  'Num.Bico': b.num_bico,\n  'Nr.Intervenção': b.nr_intervencao,\n  'Motivo': b.motivo,\n  'Interventor': b.interventor,\n  'Val.Fechamento': b.valor_fechamento,\n  'Val.Abertura': b.valor_abertura,\n  'Vol.Aferido': b.volume_aferido,\n  'Vol.Vendas': b.volume_vendas\n}));\n\nconst contagemArray = Object.entries(registros).map(([reg, arr]) => ({\n  'Registro': reg,\n  'Quantidade': arr.length\n})).sort((a, b) => a.Registro.localeCompare(b.Registro));\n\n// ============================================================================\n// PREPARAR METADADOS E RETORNAR\n// ============================================================================\n\nfunction cleanFilename(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-zA-Z0-9\\s]/g, '')\n    .replace(/\\s+/g, '_')\n    .substring(0, 50);\n}\n\nconst periodoClean = `${empresa.dt_inicial || ''}_a_${empresa.dt_final || ''}`\n  .replace(/\\//g, '-');\n\nconst razaoSocialClean = cleanFilename(empresa.nome || input.empresaNome || 'SPED');\nconst outputFilename = `${razaoSocialClean}_EFD_${periodoClean}.xlsx`;\nconst cnpjClean = (empresa.cnpj_raw || input.empresaCnpj || '').replace(/\\D/g, '');\nconst nomeEmpresaS3 = cleanFilename(empresa.nome || input.empresaNome || 'empresa').toLowerCase();\nconst [mesComp, anoComp] = input.competencia.split('/');\nconst s3Directory = `${nomeEmpresaS3}/${anoComp}/${mesComp}_${anoComp}/analise_sped`;\nconst fullS3Path = `${s3Directory}/${outputFilename}`;\n\nconst summary = {\n  tipo: 'ICMS_IPI',\n  empresa_arquivo: empresa.nome,\n  cnpj_arquivo: empresa.cnpj,\n  periodo: `${empresa.dt_inicial} a ${empresa.dt_final}`,\n  total_registros,\n  participantes: participantes.length,\n  produtos: produtos.length,\n  docs_entrada: documentos_entrada.length,\n  docs_saida: documentos_saida.length,\n  valor_entradas: total_entradas,\n  valor_saidas: total_saidas,\n  icms_recolher: apuracao_icms.vl_icms_recolher || 0,\n  icms_st_recolher: apuracao_icms_st.vl_icms_recolher_st || 0\n};\n\nreturn [{\n  json: {\n    success: true,\n    loteId: input.loteId,\n    arquivoIndex: input.arquivoIndex,\n    totalArquivos: input.totalArquivos,\n    filenameOriginal: input.filename,\n    filenameOutput: outputFilename,\n    s3Path: fullS3Path,\n    s3Directory: s3Directory,\n    tipoSped: 'ICMS_IPI',\n    empresaId: input.empresaId,\n    empresaNome: input.empresaNome,\n    competencia: input.competencia,\n    summary,\n    processedAt: new Date().toISOString(),\n    \n    sheets: {\n      'RESUMO GERAL': resumoData,\n      'APURAÇÃO ICMS': apuracaoData,\n      'RESUMO POR CFOP': cfopArray,\n      'PARTICIPANTES': partArray,\n      'PRODUTOS': prodArray,\n      'DOCS ENTRADA': entradaArray,\n      'DOCS SAÍDA': saidaArray,\n      'COMBUSTÍVEIS': combArray,\n      'TANQUES': tanquesArray,\n      'BICOS': bicosArray,\n      'CONTAGEM REGISTROS': contagemArray\n    }\n  }\n}];\n"
        },
        "id": "ee69790a-8238-4639-8b08-e93689b6d868",
        "name": "Processar ICMS/IPI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          -144
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// PROCESSADOR SPED CONTRIBUIÇÕES (EFD Contribuições - PIS/COFINS) - v2 XLSX\n// Gera estrutura similar ao ICMS/IPI para geração de XLSX\n// ============================================================================\n\nconst input = $json;\n\n// Decodificar conteúdo Base64\nconst content = Buffer.from(input.fileContent, 'base64').toString('latin1');\nconst lines = content.split('\\n');\n\n// ============================================================================\n// FUNÇÕES AUXILIARES\n// ============================================================================\n\nfunction parseLine(line) {\n  line = (line || '').trim().replace(/\\r/g, '');\n  if (!line.startsWith('|')) return { reg: null, campos: null };\n  const parts = line.split('|');\n  if (parts.length < 2) return { reg: null, campos: null };\n  return { \n    reg: parts[1], \n    campos: line.endsWith('|') ? parts.slice(1, -1) : parts.slice(1) \n  };\n}\n\nfunction parseDecimal(value) {\n  if (!value) return 0;\n  try { \n    const clean = value.replace(',', '.');\n    return parseFloat(clean) || 0; \n  } \n  catch { return 0; }\n}\n\nfunction parseDate(value) {\n  if (!value || value.length !== 8) return '';\n  return `${value.substr(0, 2)}/${value.substr(2, 2)}/${value.substr(4, 4)}`;\n}\n\nfunction formatCnpj(cnpj) {\n  if (!cnpj || cnpj.length !== 14) return cnpj || '';\n  return `${cnpj.substr(0, 2)}.${cnpj.substr(2, 3)}.${cnpj.substr(5, 3)}/${cnpj.substr(8, 4)}-${cnpj.substr(12, 2)}`;\n}\n\nfunction formatCpf(cpf) {\n  if (!cpf || cpf.length !== 11) return cpf || '';\n  return `${cpf.substr(0, 3)}.${cpf.substr(3, 3)}.${cpf.substr(6, 3)}-${cpf.substr(9, 2)}`;\n}\n\n// ============================================================================\n// ESTRUTURAS DE DADOS - SPED CONTRIBUIÇÕES\n// ============================================================================\n\nconst registros = {};\nlet empresa = {};\nlet contabilista = {};\nconst participantes = [];\nconst itens = [];\n\n// Documentos e Operações\nconst docs_entrada = [];\nconst docs_saida = [];\nconst itens_docs = [];\n\n// Apuração PIS/COFINS\nlet apuracao_pis = {\n  vl_tot_cont_nc_per: 0,\n  vl_tot_cred_desc: 0,\n  vl_tot_cred_desc_ant: 0,\n  vl_tot_cont_nc_dev: 0,\n  vl_ret_nc: 0,\n  vl_out_ded_nc: 0,\n  vl_cont_nc_rec: 0,\n  vl_tot_cont_cum_per: 0,\n  vl_ret_cum: 0,\n  vl_out_ded_cum: 0,\n  vl_cont_cum_rec: 0,\n  contribuicao_devida: 0\n};\n\nlet apuracao_cofins = {\n  vl_tot_cont_nc_per: 0,\n  vl_tot_cred_desc: 0,\n  vl_tot_cred_desc_ant: 0,\n  vl_tot_cont_nc_dev: 0,\n  vl_ret_nc: 0,\n  vl_out_ded_nc: 0,\n  vl_cont_nc_rec: 0,\n  vl_tot_cont_cum_per: 0,\n  vl_ret_cum: 0,\n  vl_out_ded_cum: 0,\n  vl_cont_cum_rec: 0,\n  contribuicao_devida: 0\n};\n\n// Resumos por CST\nconst cst_pis_resumo = {};\nconst cst_cofins_resumo = {};\n\n// Receitas por Natureza\nconst receitas_natureza = {};\n\n// Totais\nlet totais = {\n  receita_bruta: 0,\n  receita_nao_cumulativa: 0,\n  receita_cumulativa: 0,\n  base_pis: 0,\n  base_cofins: 0,\n  valor_pis: 0,\n  valor_cofins: 0\n};\n\n// ============================================================================\n// PROCESSAR LINHAS\n// ============================================================================\n\nfor (const line of lines) {\n  const { reg, campos } = parseLine(line);\n  if (!reg || !campos) continue;\n  \n  if (!registros[reg]) registros[reg] = [];\n  registros[reg].push(campos);\n  \n  // ========================================\n  // BLOCO 0 - Abertura e Identificação\n  // ========================================\n  \n  // Registro 0000 - Abertura\n  if (reg === '0000' && campos.length >= 12) {\n    empresa = {\n      tipo_escrit: campos[1] || '',\n      ind_sit_esp: campos[2] || '',\n      num_rec_anterior: campos[3] || '',\n      dt_inicial: parseDate(campos[4]),\n      dt_final: parseDate(campos[5]),\n      nome: campos[6] || '',\n      cnpj: formatCnpj(campos[7]),\n      cnpj_raw: campos[7] || '',\n      uf: campos[8] || '',\n      cod_mun: campos[9] || '',\n      suframa: campos[10] || '',\n      ind_nat_pj: campos[11] || '',\n      ind_ativ: campos[12] || ''\n    };\n  }\n  \n  // Registro 0100 - Contabilista\n  if (reg === '0100' && campos.length >= 9) {\n    contabilista = {\n      nome: campos[1] || '',\n      cpf: formatCpf(campos[2]),\n      crc: campos[3] || '',\n      email: campos[8] || ''\n    };\n  }\n  \n  // Registro 0110 - Regime de Apuração\n  if (reg === '0110' && campos.length >= 4) {\n    empresa.cod_inc_trib = campos[1] || '';\n    empresa.ind_apro_cred = campos[2] || '';\n    empresa.cod_tipo_cont = campos[3] || '';\n    empresa.ind_reg_cum = campos[4] || '';\n  }\n  \n  // Registro 0140 - Estabelecimento\n  if (reg === '0140' && campos.length >= 7) {\n    empresa.cod_est = campos[1] || '';\n    empresa.nome_est = campos[2] || '';\n    empresa.cnpj_est = formatCnpj(campos[3]);\n    empresa.uf_est = campos[4] || '';\n    empresa.ie_est = campos[5] || '';\n    empresa.cod_mun_est = campos[6] || '';\n    empresa.im_est = campos[7] || '';\n  }\n  \n  // Registro 0150 - Participantes\n  if (reg === '0150' && campos.length >= 5) {\n    participantes.push({\n      codigo: campos[1] || '',\n      nome: campos[2] || '',\n      cod_pais: campos[3] || '',\n      cnpj: campos[4] && campos[4].length === 14 ? formatCnpj(campos[4]) : '',\n      cpf: campos[5] && campos[5].length === 11 ? formatCpf(campos[5]) : '',\n      ie: campos[6] || '',\n      cod_mun: campos[7] || ''\n    });\n  }\n  \n  // Registro 0200 - Itens\n  if (reg === '0200' && campos.length >= 7) {\n    itens.push({\n      codigo: campos[1] || '',\n      descricao: campos[2] || '',\n      cod_barra: campos[3] || '',\n      unidade: campos[5] || '',\n      tipo: campos[6] || '',\n      ncm: campos[7] || ''\n    });\n  }\n  \n  // ========================================\n  // BLOCO A - Documentos Serviços\n  // ========================================\n  \n  if (reg === 'A100' && campos.length >= 20) {\n    const ind_oper = campos[1] || '';\n    const doc = {\n      tipo: 'SERVICO',\n      operacao: ind_oper === '0' ? 'ENTRADA' : 'SAÍDA',\n      emitente: campos[2] === '0' ? 'Própria' : 'Terceiros',\n      cod_part: campos[3] || '',\n      serie: campos[5] || '',\n      numero: campos[7] || '',\n      dt_doc: parseDate(campos[9]),\n      dt_exe_serv: parseDate(campos[11]),\n      vl_doc: parseDecimal(campos[12]),\n      vl_bc_pis: parseDecimal(campos[16]),\n      vl_pis: parseDecimal(campos[17]),\n      vl_bc_cofins: parseDecimal(campos[18]),\n      vl_cofins: parseDecimal(campos[19])\n    };\n    \n    if (ind_oper === '0') {\n      docs_entrada.push(doc);\n    } else {\n      docs_saida.push(doc);\n      totais.receita_bruta += doc.vl_doc;\n    }\n  }\n  \n  // ========================================\n  // BLOCO C - Documentos Mercadorias\n  // ========================================\n  \n  if (reg === 'C100' && campos.length >= 12) {\n    const ind_oper = campos[1] || '';\n    const doc = {\n      tipo: 'MERCADORIA',\n      operacao: ind_oper === '0' ? 'ENTRADA' : 'SAÍDA',\n      emitente: campos[2] === '0' ? 'Própria' : 'Terceiros',\n      cod_part: campos[3] || '',\n      modelo: campos[4] || '',\n      serie: campos[6] || '',\n      numero: campos[7] || '',\n      chave_nfe: campos[8] || '',\n      dt_doc: parseDate(campos[9]),\n      vl_doc: parseDecimal(campos[11]),\n      vl_merc: campos.length > 15 ? parseDecimal(campos[15]) : 0,\n      vl_bc_pis: 0,\n      vl_pis: 0,\n      vl_bc_cofins: 0,\n      vl_cofins: 0\n    };\n    \n    if (ind_oper === '0') {\n      docs_entrada.push(doc);\n    } else {\n      docs_saida.push(doc);\n      totais.receita_bruta += doc.vl_doc;\n    }\n  }\n  \n  // Registro C170 - Itens do Documento\n  if (reg === 'C170' && campos.length >= 35) {\n    const cst_pis = campos[24] || '';\n    const cst_cofins = campos[30] || '';\n    const vl_bc_pis = parseDecimal(campos[25]);\n    const aliq_pis = parseDecimal(campos[26]);\n    const vl_pis = parseDecimal(campos[28]);\n    const vl_bc_cofins = parseDecimal(campos[31]);\n    const aliq_cofins = parseDecimal(campos[32]);\n    const vl_cofins = parseDecimal(campos[34]);\n    \n    itens_docs.push({\n      num_item: campos[1] || '',\n      cod_item: campos[2] || '',\n      descr_compl: campos[3] || '',\n      qtd: parseDecimal(campos[4]),\n      unid: campos[5] || '',\n      vl_item: parseDecimal(campos[6]),\n      cfop: campos[10] || '',\n      cst_pis: cst_pis,\n      vl_bc_pis: vl_bc_pis,\n      aliq_pis: aliq_pis,\n      vl_pis: vl_pis,\n      cst_cofins: cst_cofins,\n      vl_bc_cofins: vl_bc_cofins,\n      aliq_cofins: aliq_cofins,\n      vl_cofins: vl_cofins\n    });\n    \n    // Acumular por CST PIS\n    if (cst_pis) {\n      if (!cst_pis_resumo[cst_pis]) {\n        cst_pis_resumo[cst_pis] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n      }\n      cst_pis_resumo[cst_pis].qtd++;\n      cst_pis_resumo[cst_pis].vl_bc += vl_bc_pis;\n      cst_pis_resumo[cst_pis].vl_contrib += vl_pis;\n    }\n    \n    // Acumular por CST COFINS\n    if (cst_cofins) {\n      if (!cst_cofins_resumo[cst_cofins]) {\n        cst_cofins_resumo[cst_cofins] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n      }\n      cst_cofins_resumo[cst_cofins].qtd++;\n      cst_cofins_resumo[cst_cofins].vl_bc += vl_bc_cofins;\n      cst_cofins_resumo[cst_cofins].vl_contrib += vl_cofins;\n    }\n    \n    totais.base_pis += vl_bc_pis;\n    totais.valor_pis += vl_pis;\n    totais.base_cofins += vl_bc_cofins;\n    totais.valor_cofins += vl_cofins;\n  }\n  \n  // Registro C175 - Analítico NFCe (modelo 65)\n  if (reg === 'C175' && campos.length >= 10) {\n    const cfop = campos[1] || '';\n    const vl_opr = parseDecimal(campos[2]);\n    const cst_pis = campos[4] || '';\n    const vl_bc_pis = parseDecimal(campos[5]);\n    const vl_pis = parseDecimal(campos[6]);\n    const cst_cofins = campos[8] || '';\n    const vl_bc_cofins = parseDecimal(campos[9]);\n    const vl_cofins = parseDecimal(campos[10]);\n    \n    // Acumular por CST PIS\n    if (cst_pis) {\n      if (!cst_pis_resumo[cst_pis]) {\n        cst_pis_resumo[cst_pis] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n      }\n      cst_pis_resumo[cst_pis].qtd++;\n      cst_pis_resumo[cst_pis].vl_bc += vl_bc_pis;\n      cst_pis_resumo[cst_pis].vl_contrib += vl_pis;\n    }\n    \n    // Acumular por CST COFINS\n    if (cst_cofins) {\n      if (!cst_cofins_resumo[cst_cofins]) {\n        cst_cofins_resumo[cst_cofins] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n      }\n      cst_cofins_resumo[cst_cofins].qtd++;\n      cst_cofins_resumo[cst_cofins].vl_bc += vl_bc_cofins;\n      cst_cofins_resumo[cst_cofins].vl_contrib += vl_cofins;\n    }\n    \n    totais.base_pis += vl_bc_pis;\n    totais.valor_pis += vl_pis;\n    totais.base_cofins += vl_bc_cofins;\n    totais.valor_cofins += vl_cofins;\n  }\n  \n  // ========================================\n  // BLOCO M - Apuração da Contribuição\n  // ========================================\n  \n  // M200 - Consolidação PIS\n  if (reg === 'M200' && campos.length >= 12) {\n    apuracao_pis.vl_tot_cont_nc_per = parseDecimal(campos[1]);\n    apuracao_pis.vl_tot_cred_desc = parseDecimal(campos[2]);\n    apuracao_pis.vl_tot_cred_desc_ant = parseDecimal(campos[3]);\n    apuracao_pis.vl_tot_cont_nc_dev = parseDecimal(campos[4]);\n    apuracao_pis.vl_ret_nc = parseDecimal(campos[5]);\n    apuracao_pis.vl_out_ded_nc = parseDecimal(campos[6]);\n    apuracao_pis.vl_cont_nc_rec = parseDecimal(campos[7]);\n    apuracao_pis.vl_tot_cont_cum_per = parseDecimal(campos[8]);\n    apuracao_pis.vl_ret_cum = parseDecimal(campos[9]);\n    apuracao_pis.vl_out_ded_cum = parseDecimal(campos[10]);\n    apuracao_pis.vl_cont_cum_rec = parseDecimal(campos[11]);\n    apuracao_pis.vl_tot_cont_rec = parseDecimal(campos[12]);\n    apuracao_pis.contribuicao_devida = apuracao_pis.vl_cont_nc_rec + apuracao_pis.vl_cont_cum_rec;\n  }\n  \n  // M210 - Detalhamento PIS Não Cumulativo\n  if (reg === 'M210' && campos.length >= 14) {\n    const cst = campos[1] || '';\n    const vl_bc = parseDecimal(campos[3]);\n    const aliq = parseDecimal(campos[6]);\n    const vl_contrib = parseDecimal(campos[9]);\n    \n    if (cst && !cst_pis_resumo[cst]) {\n      cst_pis_resumo[cst] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n    }\n    if (cst) {\n      cst_pis_resumo[cst].vl_bc += vl_bc;\n      cst_pis_resumo[cst].vl_contrib += vl_contrib;\n    }\n  }\n  \n  // M400 - Receitas Isentas, Não Tributadas ou Diferidas PIS\n  if (reg === 'M400' && campos.length >= 4) {\n    const cst = campos[1] || '';\n    const vl_receita = parseDecimal(campos[2]);\n    const cod_cta = campos[3] || '';\n    \n    if (!receitas_natureza[`PIS_${cst}`]) {\n      receitas_natureza[`PIS_${cst}`] = { cst, tipo: 'PIS', vl_receita: 0 };\n    }\n    receitas_natureza[`PIS_${cst}`].vl_receita += vl_receita;\n  }\n  \n  // M410 - Detalhamento Receitas Isentas PIS\n  if (reg === 'M410' && campos.length >= 4) {\n    const natureza = campos[1] || '';\n    const vl_receita = parseDecimal(campos[2]);\n  }\n  \n  // M600 - Consolidação COFINS\n  if (reg === 'M600' && campos.length >= 12) {\n    apuracao_cofins.vl_tot_cont_nc_per = parseDecimal(campos[1]);\n    apuracao_cofins.vl_tot_cred_desc = parseDecimal(campos[2]);\n    apuracao_cofins.vl_tot_cred_desc_ant = parseDecimal(campos[3]);\n    apuracao_cofins.vl_tot_cont_nc_dev = parseDecimal(campos[4]);\n    apuracao_cofins.vl_ret_nc = parseDecimal(campos[5]);\n    apuracao_cofins.vl_out_ded_nc = parseDecimal(campos[6]);\n    apuracao_cofins.vl_cont_nc_rec = parseDecimal(campos[7]);\n    apuracao_cofins.vl_tot_cont_cum_per = parseDecimal(campos[8]);\n    apuracao_cofins.vl_ret_cum = parseDecimal(campos[9]);\n    apuracao_cofins.vl_out_ded_cum = parseDecimal(campos[10]);\n    apuracao_cofins.vl_cont_cum_rec = parseDecimal(campos[11]);\n    apuracao_cofins.vl_tot_cont_rec = parseDecimal(campos[12]);\n    apuracao_cofins.contribuicao_devida = apuracao_cofins.vl_cont_nc_rec + apuracao_cofins.vl_cont_cum_rec;\n  }\n  \n  // M610 - Detalhamento COFINS Não Cumulativo\n  if (reg === 'M610' && campos.length >= 14) {\n    const cst = campos[1] || '';\n    const vl_bc = parseDecimal(campos[3]);\n    const aliq = parseDecimal(campos[6]);\n    const vl_contrib = parseDecimal(campos[9]);\n    \n    if (cst && !cst_cofins_resumo[cst]) {\n      cst_cofins_resumo[cst] = { qtd: 0, vl_bc: 0, vl_contrib: 0 };\n    }\n    if (cst) {\n      cst_cofins_resumo[cst].vl_bc += vl_bc;\n      cst_cofins_resumo[cst].vl_contrib += vl_contrib;\n    }\n  }\n  \n  // M800 - Receitas Isentas, Não Tributadas ou Diferidas COFINS\n  if (reg === 'M800' && campos.length >= 4) {\n    const cst = campos[1] || '';\n    const vl_receita = parseDecimal(campos[2]);\n    const cod_cta = campos[3] || '';\n    \n    if (!receitas_natureza[`COFINS_${cst}`]) {\n      receitas_natureza[`COFINS_${cst}`] = { cst, tipo: 'COFINS', vl_receita: 0 };\n    }\n    receitas_natureza[`COFINS_${cst}`].vl_receita += vl_receita;\n  }\n}\n\n// ============================================================================\n// CALCULAR TOTAIS FINAIS\n// ============================================================================\n\nconst total_registros = Object.values(registros).reduce((sum, arr) => sum + arr.length, 0);\n\n// ============================================================================\n// PREPARAR DADOS PARA PLANILHA\n// ============================================================================\n\n// Descrição dos CSTs PIS/COFINS\nconst cstDescricao = {\n  '01': 'Operação Tributável com Alíquota Básica',\n  '02': 'Operação Tributável com Alíquota Diferenciada',\n  '03': 'Operação Tributável com Alíquota por Unidade de Medida de Produto',\n  '04': 'Operação Tributável Monofásica - Revenda a Alíquota Zero',\n  '05': 'Operação Tributável por Substituição Tributária',\n  '06': 'Operação Tributável a Alíquota Zero',\n  '07': 'Operação Isenta da Contribuição',\n  '08': 'Operação sem Incidência da Contribuição',\n  '09': 'Operação com Suspensão da Contribuição',\n  '49': 'Outras Operações de Saída',\n  '50': 'Operação com Direito a Crédito - Vinculada Exclusivamente a Receita Tributada',\n  '51': 'Operação com Direito a Crédito - Vinculada Exclusivamente a Receita Não-Tributada',\n  '52': 'Operação com Direito a Crédito - Vinculada Exclusivamente a Receita de Exportação',\n  '53': 'Operação com Direito a Crédito - Vinculada a Receitas Tributadas e Não-Tributadas',\n  '54': 'Operação com Direito a Crédito - Vinculada a Receitas Tributadas, Não-Tributadas e de Exportação',\n  '55': 'Operação com Direito a Crédito - Vinculada a Receitas Não-Tributadas e de Exportação',\n  '56': 'Operação com Direito a Crédito - Vinculada a Receitas Tributadas e de Exportação',\n  '60': 'Crédito Presumido - Operação de Aquisição Vinculada Exclusivamente a Receita Tributada',\n  '61': 'Crédito Presumido - Operação de Aquisição Vinculada Exclusivamente a Receita Não-Tributada',\n  '62': 'Crédito Presumido - Operação de Aquisição Vinculada Exclusivamente a Receita de Exportação',\n  '63': 'Crédito Presumido - Operação de Aquisição Vinculada a Receitas Tributadas e Não-Tributadas',\n  '64': 'Crédito Presumido - Operação de Aquisição Vinculada a Receitas Tributadas, Não-Tributadas e de Exportação',\n  '65': 'Crédito Presumido - Operação de Aquisição Vinculada a Receitas Não-Tributadas e de Exportação',\n  '66': 'Crédito Presumido - Operação de Aquisição Vinculada a Receitas Tributadas e de Exportação',\n  '67': 'Crédito Presumido - Outras Operações',\n  '70': 'Operação de Aquisição sem Direito a Crédito',\n  '71': 'Operação de Aquisição com Isenção',\n  '72': 'Operação de Aquisição com Suspensão',\n  '73': 'Operação de Aquisição a Alíquota Zero',\n  '74': 'Operação de Aquisição sem Incidência da Contribuição',\n  '75': 'Operação de Aquisição por Substituição Tributária',\n  '98': 'Outras Operações de Entrada',\n  '99': 'Outras Operações'\n};\n\n// Regime de Apuração\nconst regimeDesc = {\n  '1': 'Cumulativo',\n  '2': 'Não Cumulativo',\n  '3': 'Cumulativo e Não Cumulativo'\n};\n\n// 1. Aba RESUMO GERAL\nconst resumoData = [\n  ['ANÁLISE SPED EFD CONTRIBUIÇÕES - PIS/COFINS'],\n  [],\n  ['DADOS DA EMPRESA'],\n  ['Razão Social:', empresa.nome],\n  ['CNPJ:', empresa.cnpj],\n  ['Estabelecimento:', empresa.nome_est || empresa.nome],\n  ['CNPJ Estabelecimento:', empresa.cnpj_est || empresa.cnpj],\n  ['UF:', empresa.uf],\n  ['Município:', empresa.cod_mun],\n  ['Inscrição Estadual:', empresa.ie_est || ''],\n  ['Período:', `${empresa.dt_inicial} a ${empresa.dt_final}`],\n  ['Tipo Escrituração:', empresa.tipo_escrit === '0' ? 'Original' : 'Retificadora'],\n  ['Regime de Apuração:', regimeDesc[empresa.cod_inc_trib] || empresa.cod_inc_trib],\n  [],\n  ['CONTABILISTA RESPONSÁVEL'],\n  ['Nome:', contabilista.nome],\n  ['CPF:', contabilista.cpf],\n  ['CRC:', contabilista.crc],\n  ['Email:', contabilista.email],\n  [],\n  ['ESTATÍSTICAS DO ARQUIVO'],\n  ['Total de Registros:', total_registros],\n  ['Participantes:', participantes.length],\n  ['Itens/Produtos:', itens.length],\n  ['Documentos de Entrada:', docs_entrada.length],\n  ['Documentos de Saída:', docs_saida.length],\n  [],\n  ['RESUMO FINANCEIRO'],\n  ['Receita Bruta Total (R$):', totais.receita_bruta],\n  ['Base de Cálculo PIS (R$):', totais.base_pis],\n  ['Valor PIS (R$):', totais.valor_pis],\n  ['Base de Cálculo COFINS (R$):', totais.base_cofins],\n  ['Valor COFINS (R$):', totais.valor_cofins],\n  [],\n  ['TRIBUTOS A RECOLHER'],\n  ['PIS a Recolher (R$):', apuracao_pis.contribuicao_devida],\n  ['COFINS a Recolher (R$):', apuracao_cofins.contribuicao_devida],\n  ['TOTAL A RECOLHER (R$):', apuracao_pis.contribuicao_devida + apuracao_cofins.contribuicao_devida]\n];\n\n// 2. Aba APURAÇÃO PIS\nconst apuracaoPisData = [\n  ['APURAÇÃO DA CONTRIBUIÇÃO PARA O PIS/PASEP'],\n  [],\n  ['REGIME NÃO CUMULATIVO'],\n  ['Contribuição Não Cumulativa do Período', apuracao_pis.vl_tot_cont_nc_per],\n  ['(-) Total Créditos Descontados', apuracao_pis.vl_tot_cred_desc],\n  ['(-) Créditos Descontados Período Anterior', apuracao_pis.vl_tot_cred_desc_ant],\n  ['(=) Contribuição Não Cumulativa Devida', apuracao_pis.vl_tot_cont_nc_dev],\n  ['(-) Retenções na Fonte', apuracao_pis.vl_ret_nc],\n  ['(-) Outras Deduções', apuracao_pis.vl_out_ded_nc],\n  ['(=) CONTRIBUIÇÃO NÃO CUMULATIVA A RECOLHER', apuracao_pis.vl_cont_nc_rec],\n  [],\n  ['REGIME CUMULATIVO'],\n  ['Contribuição Cumulativa do Período', apuracao_pis.vl_tot_cont_cum_per],\n  ['(-) Retenções na Fonte', apuracao_pis.vl_ret_cum],\n  ['(-) Outras Deduções', apuracao_pis.vl_out_ded_cum],\n  ['(=) CONTRIBUIÇÃO CUMULATIVA A RECOLHER', apuracao_pis.vl_cont_cum_rec],\n  [],\n  ['TOTAL'],\n  ['TOTAL PIS A RECOLHER', apuracao_pis.contribuicao_devida]\n];\n\n// 3. Aba APURAÇÃO COFINS\nconst apuracaoCofinsData = [\n  ['APURAÇÃO DA CONTRIBUIÇÃO PARA A COFINS'],\n  [],\n  ['REGIME NÃO CUMULATIVO'],\n  ['Contribuição Não Cumulativa do Período', apuracao_cofins.vl_tot_cont_nc_per],\n  ['(-) Total Créditos Descontados', apuracao_cofins.vl_tot_cred_desc],\n  ['(-) Créditos Descontados Período Anterior', apuracao_cofins.vl_tot_cred_desc_ant],\n  ['(=) Contribuição Não Cumulativa Devida', apuracao_cofins.vl_tot_cont_nc_dev],\n  ['(-) Retenções na Fonte', apuracao_cofins.vl_ret_nc],\n  ['(-) Outras Deduções', apuracao_cofins.vl_out_ded_nc],\n  ['(=) CONTRIBUIÇÃO NÃO CUMULATIVA A RECOLHER', apuracao_cofins.vl_cont_nc_rec],\n  [],\n  ['REGIME CUMULATIVO'],\n  ['Contribuição Cumulativa do Período', apuracao_cofins.vl_tot_cont_cum_per],\n  ['(-) Retenções na Fonte', apuracao_cofins.vl_ret_cum],\n  ['(-) Outras Deduções', apuracao_cofins.vl_out_ded_cum],\n  ['(=) CONTRIBUIÇÃO CUMULATIVA A RECOLHER', apuracao_cofins.vl_cont_cum_rec],\n  [],\n  ['TOTAL'],\n  ['TOTAL COFINS A RECOLHER', apuracao_cofins.contribuicao_devida]\n];\n\n// 4. Aba RESUMO POR CST PIS\nconst cstPisArray = Object.entries(cst_pis_resumo).map(([cst, d]) => ({\n  'CST': cst,\n  'Descrição': cstDescricao[cst] || 'Não identificado',\n  'Qtd Registros': d.qtd,\n  'Base de Cálculo': d.vl_bc,\n  'Valor Contribuição': d.vl_contrib\n})).sort((a, b) => a.CST.localeCompare(b.CST));\n\n// 5. Aba RESUMO POR CST COFINS\nconst cstCofinsArray = Object.entries(cst_cofins_resumo).map(([cst, d]) => ({\n  'CST': cst,\n  'Descrição': cstDescricao[cst] || 'Não identificado',\n  'Qtd Registros': d.qtd,\n  'Base de Cálculo': d.vl_bc,\n  'Valor Contribuição': d.vl_contrib\n})).sort((a, b) => a.CST.localeCompare(b.CST));\n\n// 6. Aba PARTICIPANTES\nconst partArray = participantes.slice(0, 5000).map(p => ({\n  'Código': p.codigo,\n  'Nome': p.nome,\n  'CNPJ': p.cnpj,\n  'CPF': p.cpf,\n  'IE': p.ie,\n  'Cód.Município': p.cod_mun\n}));\n\n// 7. Aba PRODUTOS/ITENS\nconst itensArray = itens.slice(0, 5000).map(i => ({\n  'Código': i.codigo,\n  'Descrição': i.descricao,\n  'Cód.Barras': i.cod_barra,\n  'Unidade': i.unidade,\n  'Tipo': i.tipo,\n  'NCM': i.ncm\n}));\n\n// 8. Aba DOCUMENTOS\nconst docsArray = [...docs_entrada, ...docs_saida].slice(0, 10000).map(d => ({\n  'Tipo': d.tipo,\n  'Operação': d.operacao,\n  'Emitente': d.emitente,\n  'Participante': d.cod_part,\n  'Modelo': d.modelo || '',\n  'Série': d.serie,\n  'Número': d.numero,\n  'Data': d.dt_doc,\n  'Valor Documento': d.vl_doc,\n  'BC PIS': d.vl_bc_pis,\n  'Valor PIS': d.vl_pis,\n  'BC COFINS': d.vl_bc_cofins,\n  'Valor COFINS': d.vl_cofins\n}));\n\n// 9. Aba CONTAGEM REGISTROS\nconst contagemArray = Object.entries(registros).map(([reg, arr]) => ({\n  'Registro': reg,\n  'Quantidade': arr.length\n})).sort((a, b) => a.Registro.localeCompare(b.Registro));\n\n// ============================================================================\n// PREPARAR METADADOS E RETORNAR\n// ============================================================================\n\nfunction cleanFilename(str) {\n  return (str || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-zA-Z0-9\\s]/g, '')\n    .replace(/\\s+/g, '_')\n    .substring(0, 50);\n}\n\nconst periodoClean = `${empresa.dt_inicial || ''}_a_${empresa.dt_final || ''}`\n  .replace(/\\//g, '-');\n\nconst razaoSocialClean = cleanFilename(empresa.nome || input.empresaNome || 'SPED');\nconst outputFilename = `${razaoSocialClean}_PISCOFINS_${periodoClean}.xlsx`;\nconst cnpjClean = (empresa.cnpj_raw || input.empresaCnpj || '').replace(/\\D/g, '');\nconst nomeEmpresaS3 = cleanFilename(empresa.nome || input.empresaNome || 'empresa').toLowerCase();\nconst [mesComp, anoComp] = input.competencia.split('/');\nconst s3Directory = `${nomeEmpresaS3}/${anoComp}/${mesComp}_${anoComp}/analise_sped`;\nconst fullS3Path = `${s3Directory}/${outputFilename}`;\n\nconst summary = {\n  tipo: 'CONTRIBUICOES',\n  empresa_arquivo: empresa.nome,\n  cnpj_arquivo: empresa.cnpj,\n  periodo: `${empresa.dt_inicial} a ${empresa.dt_final}`,\n  total_registros,\n  participantes: participantes.length,\n  itens: itens.length,\n  docs_entrada: docs_entrada.length,\n  docs_saida: docs_saida.length,\n  receita_bruta: totais.receita_bruta,\n  base_pis: totais.base_pis,\n  valor_pis: totais.valor_pis,\n  base_cofins: totais.base_cofins,\n  valor_cofins: totais.valor_cofins,\n  pis_recolher: apuracao_pis.contribuicao_devida,\n  cofins_recolher: apuracao_cofins.contribuicao_devida\n};\n\nreturn [{\n  json: {\n    success: true,\n    loteId: input.loteId,\n    arquivoIndex: input.arquivoIndex,\n    totalArquivos: input.totalArquivos,\n    filenameOriginal: input.filename,\n    filenameOutput: outputFilename,\n    s3Path: fullS3Path,\n    s3Directory: s3Directory,\n    tipoSped: 'CONTRIBUICOES',\n    empresaId: input.empresaId,\n    empresaNome: input.empresaNome,\n    competencia: input.competencia,\n    summary,\n    processedAt: new Date().toISOString(),\n    \n    sheets: {\n      'RESUMO GERAL': resumoData,\n      'APURAÇÃO PIS': apuracaoPisData,\n      'APURAÇÃO COFINS': apuracaoCofinsData,\n      'RESUMO CST PIS': cstPisArray,\n      'RESUMO CST COFINS': cstCofinsArray,\n      'PARTICIPANTES': partArray,\n      'PRODUTOS': itensArray,\n      'DOCUMENTOS': docsArray,\n      'CONTAGEM REGISTROS': contagemArray\n    }\n  }\n}];\n"
        },
        "id": "4c14410c-bd22-496f-8135-543aadcc8df3",
        "name": "Processar Contribuições",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          64
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "e7sped-processados",
          "fileName": "={{ $json.s3Path }}",
          "additionalFields": {
            "acl": "publicRead",
            "storageClass": "standard"
          }
        },
        "id": "e75b619d-467d-4d08-aa7a-7cff304a24ba",
        "name": "Upload S3",
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 1,
        "position": [
          176,
          -48
        ],
        "credentials": {
          "aws": {
            "id": "xtXoYdILeaEmVmMk",
            "name": "AWS S3 - E7"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// AGREGAR RESULTADOS DO LOTE\n// ============================================================================\n\nconst items = $input.all();\n\n// Agrupar por loteId\nconst lotes = {};\n\nfor (const item of items) {\n  const data = item.json;\n  const loteId = data.loteId;\n  \n  if (!lotes[loteId]) {\n    lotes[loteId] = {\n      loteId,\n      empresaId: data.empresaId,\n      empresaNome: data.empresaNome,\n      competencia: data.competencia,\n      tipoSped: data.tipoSped,\n      totalArquivos: data.totalArquivos,\n      arquivosProcessados: [],\n      processedAt: data.processedAt\n    };\n  }\n  \n  lotes[loteId].arquivosProcessados.push({\n    index: data.arquivoIndex,\n    filenameOriginal: data.filenameOriginal,\n    filenameOutput: data.filenameOutput,\n    downloadUrl: data.url || data.downloadUrl,\n    summary: data.summary,\n    success: data.success !== false\n  });\n}\n\n// Converter para array e ordenar arquivos\nconst resultados = Object.values(lotes).map(lote => {\n  lote.arquivosProcessados.sort((a, b) => a.index - b.index);\n  lote.totalProcessados = lote.arquivosProcessados.length;\n  lote.todosProcessados = lote.totalProcessados === lote.totalArquivos;\n  \n  // Calcular totais consolidados baseado no tipo\n  if (lote.tipoSped === 'ICMS_IPI') {\n    lote.totaisConsolidados = {\n      valor_entradas: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.valor_entradas || 0), 0),\n      valor_saidas: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.valor_saidas || 0), 0),\n      icms_recolher: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.icms_recolher || 0), 0),\n      icms_st_recolher: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.icms_st_recolher || 0), 0)\n    };\n  } else {\n    lote.totaisConsolidados = {\n      receita_bruta: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.receita_bruta || 0), 0),\n      base_pis: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.base_pis || 0), 0),\n      valor_pis: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.valor_pis || 0), 0),\n      base_cofins: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.base_cofins || 0), 0),\n      valor_cofins: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.valor_cofins || 0), 0),\n      pis_recolher: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.pis_recolher || 0), 0),\n      cofins_recolher: lote.arquivosProcessados.reduce((sum, a) => sum + (a.summary?.cofins_recolher || 0), 0)\n    };\n  }\n  \n  return lote;\n});\n\nreturn resultados.map(r => ({ json: r }));"
        },
        "id": "255e3dac-89b5-4bf1-8073-ae2e98968dd6",
        "name": "Agregar Resultados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -48
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// PREPARAR RESPOSTA FINAL - URL COM REGIÃO CORRETA (sa-east-1)\n// ============================================================================\n\nconst lote = $input.first().json;\n\n// Buscar dados do Upload S3\nlet s3Location = null;\nlet s3Bucket = null;\nlet s3Key = null;\nlet s3Region = 'sa-east-1';\nlet excelFilename = null;\n\ntry {\n  const uploadData = $('Upload S3').first().json;\n  s3Location = uploadData.Location || uploadData.url || null;\n  s3Bucket = uploadData.Bucket || 'e7sped-processados';\n  s3Key = uploadData.Key || uploadData.key || null;\n} catch (e) {\n  console.log('Upload S3 não disponível');\n}\n\n// Buscar nome do arquivo gerado (pode ser de qualquer gerador)\ntry {\n  // Tentar buscar do gerador ICMS/IPI\n  const xlsxData = $('Gerar XLSX ICMS/IPI').first().json;\n  excelFilename = xlsxData.filenameOutput || null;\n  if (!s3Key) {\n    s3Key = xlsxData.s3Path || null;\n  }\n} catch (e) {\n  try {\n    // Tentar buscar do gerador Contribuições\n    const xlsxData = $('Gerar XLSX Contribuições').first().json;\n    excelFilename = xlsxData.filenameOutput || null;\n    if (!s3Key) {\n      s3Key = xlsxData.s3Path || null;\n    }\n  } catch (e2) {\n    console.log('Geradores XLSX não disponíveis');\n  }\n}\n\n// Montar URL COM A REGIÃO sa-east-1\nif (s3Bucket && s3Key) {\n  s3Location = `https://${s3Bucket}.s3.${s3Region}.amazonaws.com/${s3Key}`;\n}\n\n// Preparar resposta\nconst response = {\n  success: true,\n  message: `Processamento SPED ${lote.tipoSped === 'ICMS_IPI' ? 'EFD ICMS/IPI' : 'Contribuições PIS/COFINS'} concluído com sucesso`,\n  data: {\n    processing_id: lote.loteId,\n    tipo_sped: lote.tipoSped,\n    competencia: lote.competencia,\n    processado_em: lote.processedAt || new Date().toISOString(),\n    \n    empresa: {\n      id: lote.empresaId,\n      nome: lote.empresaNome\n    },\n    \n    arquivo: {\n      file_id: lote.loteId,\n      filename: lote.arquivosProcessados?.[0]?.filenameOriginal || excelFilename,\n      excel_filename: excelFilename,\n      status: 'success',\n      registros_processados: lote.totalProcessados || 1,\n      \n      urls: {\n        excel: s3Location,\n        excel_download: s3Location\n      },\n      \n      s3_info: {\n        bucket: s3Bucket,\n        key: s3Key,\n        region: s3Region\n      }\n    },\n    \n    processamento: {\n      totalArquivos: lote.totalArquivos,\n      totalProcessados: lote.totalProcessados,\n      todosProcessados: lote.todosProcessados\n    },\n    \n    resumo: lote.totaisConsolidados || {}\n  }\n};\n\nreturn { json: response };"
        },
        "id": "e1ddc388-9b29-455f-9dca-31d34f97773a",
        "name": "Preparar Resposta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          -48
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type, Authorization"
                }
              ]
            }
          }
        },
        "id": "389628b8-2df4-40ff-a5f4-b18e7db506d6",
        "name": "Responder Sucesso",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          848,
          -48
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// GERADOR DE XLSX SPED EFD ICMS/IPI - MÚLTIPLAS ABAS FORMATADAS\n// ============================================================================\n\nconst XLSX = require('xlsx');\n\nconst input = $input.first().json;\nconst sheets = input.sheets;\n\n// ============================================================================\n// FUNÇÕES AUXILIARES\n// ============================================================================\n\nfunction formatCurrency(value) {\n  if (value === null || value === undefined || isNaN(value)) return 0;\n  return Number(value);\n}\n\n// ============================================================================\n// CRIAR ABAS\n// ============================================================================\n\nfunction criarAbaResumoGeral(sheets, input) {\n  const summary = input.summary || {};\n  \n  const data = [\n    ['ANÁLISE SPED EFD ICMS/IPI'],\n    [],\n    ['DADOS DA EMPRESA'],\n    ['Razão Social:', summary.empresa_arquivo || ''],\n    ['CNPJ:', summary.cnpj_arquivo || ''],\n    ['Período:', summary.periodo || ''],\n    [],\n    ['ESTATÍSTICAS DO ARQUIVO'],\n    ['Total de Registros:', summary.total_registros || 0],\n    ['Participantes:', summary.participantes || 0],\n    ['Produtos/Serviços:', summary.produtos || 0],\n    ['Documentos de Entrada:', summary.docs_entrada || 0],\n    ['Documentos de Saída:', summary.docs_saida || 0],\n    [],\n    ['RESUMO FINANCEIRO'],\n    ['Valor Total Entradas (R$):', formatCurrency(summary.valor_entradas)],\n    ['Valor Total Saídas (R$):', formatCurrency(summary.valor_saidas)],\n    ['ICMS a Recolher (R$):', formatCurrency(summary.icms_recolher)],\n    ['ICMS-ST a Recolher (R$):', formatCurrency(summary.icms_st_recolher)]\n  ];\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 30 }, { wch: 50 }, { wch: 20 }, { wch: 20 }];\n  return ws;\n}\n\nfunction criarAbaApuracaoICMS(sheets) {\n  const apuracao = sheets['APURAÇÃO ICMS'] || [];\n  \n  const data = [\n    ['APURAÇÃO DO ICMS - OPERAÇÕES PRÓPRIAS'],\n    [],\n    ['Campo', 'Descrição', 'Valor (R$)']\n  ];\n  \n  if (Array.isArray(apuracao)) {\n    for (const row of apuracao) {\n      if (Array.isArray(row) && row.length >= 2) {\n        data.push(row);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 30 }, { wch: 45 }, { wch: 20 }];\n  return ws;\n}\n\nfunction criarAbaParticipantes(sheets) {\n  const participantes = sheets['PARTICIPANTES'] || [];\n  \n  const data = [\n    ['CADASTRO DE PARTICIPANTES (CLIENTES/FORNECEDORES)'],\n    [],\n    ['Código', 'CNPJ/CPF', 'Nome/Razão Social', 'IE', 'UF/Município', 'Endereço', 'Número', 'Bairro']\n  ];\n  \n  if (Array.isArray(participantes)) {\n    for (const p of participantes) {\n      if (typeof p === 'object' && p !== null) {\n        data.push([\n          p['Código'] || p.codigo || '',\n          p['CNPJ'] || p['CPF'] || p.cnpj || p.cpf || '',\n          p['Nome'] || p.nome || '',\n          p['IE'] || p.ie || '',\n          p['Cód.Município'] || p.cod_mun || '',\n          p['Endereço'] || p.endereco || '',\n          p['Número'] || p.numero || '',\n          p['Bairro'] || p.bairro || ''\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 18 }, { wch: 20 }, { wch: 45 }, { wch: 15 }, { wch: 15 }, { wch: 35 }, { wch: 10 }, { wch: 20 }];\n  return ws;\n}\n\nfunction criarAbaProdutos(sheets) {\n  const produtos = sheets['PRODUTOS'] || [];\n  \n  const data = [\n    ['CADASTRO DE PRODUTOS/ITENS'],\n    [],\n    ['Código', 'Descrição', 'Unidade', 'Tipo', 'NCM', 'Alíq. ICMS', 'CEST']\n  ];\n  \n  if (Array.isArray(produtos)) {\n    for (const p of produtos) {\n      if (typeof p === 'object' && p !== null) {\n        data.push([\n          p['Código'] || p.codigo || '',\n          p['Descrição'] || p.descricao || '',\n          p['Unidade'] || p.unidade || '',\n          p['Tipo'] || p.tipo || '',\n          p['NCM'] || p.ncm || '',\n          p['Alíq.ICMS'] || p.aliq_icms || 0,\n          p['CEST'] || p.cest || ''\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 15 }, { wch: 60 }, { wch: 10 }, { wch: 25 }, { wch: 12 }, { wch: 12 }, { wch: 12 }];\n  return ws;\n}\n\nfunction criarAbaNotasFiscais(sheets, input) {\n  const entrada = sheets['DOCS ENTRADA'] || [];\n  const saida = sheets['DOCS SAÍDA'] || [];\n  const summary = input.summary || {};\n  \n  let icmsEntradas = 0, icmsSaidas = 0;\n  for (const doc of entrada) { icmsEntradas += formatCurrency(doc['ICMS'] || doc.vl_icms || 0); }\n  for (const doc of saida) { icmsSaidas += formatCurrency(doc['ICMS'] || doc.vl_icms || 0); }\n  \n  const data = [\n    ['DOCUMENTOS FISCAIS (C100)'],\n    [],\n    ['RESUMO:'],\n    ['Total de Notas de Entrada:', entrada.length],\n    ['Total de Notas de Saída:', saida.length],\n    ['Valor Total Entradas (R$):', formatCurrency(summary.valor_entradas)],\n    ['Valor Total Saídas (R$):', formatCurrency(summary.valor_saidas)],\n    ['ICMS Total Entradas (R$):', icmsEntradas],\n    ['ICMS Total Saídas (R$):', icmsSaidas],\n    [],\n    [],\n    ['DETALHAMENTO (primeiros 5000 registros):'],\n    [],\n    ['Operação', 'Modelo', 'Série', 'Número', 'Data Emissão', 'CNPJ Participante', 'Valor Doc', 'BC ICMS', 'Valor ICMS', 'ICMS-ST', 'Situação']\n  ];\n  \n  for (const doc of entrada.slice(0, 2500)) {\n    if (typeof doc === 'object' && doc !== null) {\n      data.push(['ENTRADA', doc['Modelo'] || doc.modelo || '', doc['Série'] || doc.serie || '', doc['Número'] || doc.numero || '', doc['Data Emissão'] || doc.dt_emissao || '', doc['Participante'] || doc.cod_participante || '', formatCurrency(doc['Vl.Documento'] || doc.vl_documento || 0), formatCurrency(doc['BC ICMS'] || doc.vl_bc_icms || 0), formatCurrency(doc['ICMS'] || doc.vl_icms || 0), formatCurrency(doc['ICMS ST'] || doc.vl_icms_st || 0), 'Regular']);\n    }\n  }\n  \n  for (const doc of saida.slice(0, 2500)) {\n    if (typeof doc === 'object' && doc !== null) {\n      data.push(['SAÍDA', doc['Modelo'] || doc.modelo || '', doc['Série'] || doc.serie || '', doc['Número'] || doc.numero || '', doc['Data Emissão'] || doc.dt_emissao || '', doc['Participante'] || doc.cod_participante || '', formatCurrency(doc['Vl.Documento'] || doc.vl_documento || 0), formatCurrency(doc['BC ICMS'] || doc.vl_bc_icms || 0), formatCurrency(doc['ICMS'] || doc.vl_icms || 0), formatCurrency(doc['ICMS ST'] || doc.vl_icms_st || 0), 'Regular']);\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 12 }, { wch: 8 }, { wch: 8 }, { wch: 10 }, { wch: 12 }, { wch: 20 }, { wch: 15 }, { wch: 15 }, { wch: 12 }, { wch: 12 }, { wch: 10 }];\n  return ws;\n}\n\nfunction criarAbaAnaliseCFOP(sheets) {\n  const cfop = sheets['RESUMO POR CFOP'] || [];\n  const cfopDesc = { '1102': 'Compra Revenda', '1403': 'Compra Revenda c/ ST', '1652': 'Compra Combustível', '5102': 'Venda Mercadoria Adquirida', '5656': 'Venda Combust./Lubrif. Adquirido', '5667': 'Venda Combust. Fora Estabelecimento', '6102': 'Venda Interestadual' };\n  \n  const data = [['ANÁLISE POR CFOP (C190)'], [], ['CFOP', 'Descrição', 'Qtd Registros', 'Valor Operação', 'BC ICMS', 'ICMS', 'ICMS-ST']];\n  \n  if (Array.isArray(cfop)) {\n    for (const c of cfop) {\n      if (typeof c === 'object' && c !== null) {\n        const code = c['CFOP'] || c.cfop || '';\n        data.push([code, cfopDesc[code] || '', c['Qtd Registros'] || c.qtd || 0, formatCurrency(c['Valor Operação'] || c.vl_operacao || 0), formatCurrency(c['BC ICMS'] || c.vl_bc_icms || 0), formatCurrency(c['ICMS'] || c.vl_icms || 0), formatCurrency(c['ICMS ST'] || c.vl_icms_st || 0)]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 10 }, { wch: 35 }, { wch: 15 }, { wch: 18 }, { wch: 15 }, { wch: 12 }, { wch: 12 }];\n  return ws;\n}\n\nfunction criarAbaCombustiveis(sheets) {\n  const combustiveis = sheets['COMBUSTÍVEIS'] || [];\n  const tanques = sheets['TANQUES'] || [];\n  const bicos = sheets['BICOS'] || [];\n  \n  const data = [['MOVIMENTAÇÃO DE COMBUSTÍVEIS'], [], ['MOVIMENTAÇÃO DIÁRIA POR PRODUTO (1300)'], [], ['Código Item', 'Data Fechamento', 'Estq. Abertura', 'Vol. Entrada', 'Vol. Disponível', 'Vol. Saídas', 'Estq. Escritural', 'Aj. Perda', 'Aj. Ganho', 'Fech. Físico']];\n  \n  if (Array.isArray(combustiveis)) {\n    for (const c of combustiveis) {\n      if (typeof c === 'object' && c !== null) {\n        data.push([c['Cód.Item'] || c.cod_item || '', c['Data Fech.'] || c.dt_fechamento || '', formatCurrency(c['Est.Abertura'] || c.estoque_abertura || 0), formatCurrency(c['Vol.Entradas'] || c.volume_entradas || 0), formatCurrency(c['Vol.Disponível'] || c.volume_disponivel || 0), formatCurrency(c['Vol.Saídas'] || c.volume_saidas || 0), formatCurrency(c['Est.Escritural'] || c.estoque_escritural || 0), formatCurrency(c['Ajuste Perda'] || c.ajuste_perda || 0), formatCurrency(c['Ajuste Ganho'] || c.ajuste_ganho || 0), formatCurrency(c['Fech.Físico'] || c.fechamento_fisico || 0)]);\n      }\n    }\n  }\n  \n  if (Array.isArray(tanques) && tanques.length > 0) {\n    data.push([], ['MOVIMENTAÇÃO POR TANQUE (1310)'], [], ['Num.Tanque', 'Est.Abertura', 'Vol.Entradas', 'Vol.Disponível', 'Vol.Saídas', 'Est.Escritural', 'Aj.Perda', 'Aj.Ganho', 'Fech.Físico']);\n    for (const t of tanques) {\n      if (typeof t === 'object' && t !== null) {\n        data.push([t['Num.Tanque'] || t.num_tanque || '', formatCurrency(t['Est.Abertura'] || t.estoque_abertura || 0), formatCurrency(t['Vol.Entradas'] || t.volume_entradas || 0), formatCurrency(t['Vol.Disponível'] || t.volume_disponivel || 0), formatCurrency(t['Vol.Saídas'] || t.volume_saidas || 0), formatCurrency(t['Est.Escritural'] || t.estoque_escritural || 0), formatCurrency(t['Ajuste Perda'] || t.ajuste_perda || 0), formatCurrency(t['Ajuste Ganho'] || t.ajuste_ganho || 0), formatCurrency(t['Fech.Físico'] || t.fechamento_fisico || 0)]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 15 }, { wch: 15 }, { wch: 15 }, { wch: 15 }, { wch: 15 }, { wch: 12 }, { wch: 15 }, { wch: 12 }, { wch: 12 }, { wch: 15 }];\n  return ws;\n}\n\nfunction criarAbaContagemRegistros(sheets) {\n  const contagem = sheets['CONTAGEM REGISTROS'] || [];\n  const data = [['CONTAGEM DE REGISTROS POR TIPO'], [], ['Registro', 'Quantidade']];\n  \n  if (Array.isArray(contagem)) {\n    for (const c of contagem) {\n      if (typeof c === 'object' && c !== null) {\n        data.push([c['Registro'] || '', c['Quantidade'] || 0]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 15 }, { wch: 15 }];\n  return ws;\n}\n\n// ============================================================================\n// CRIAR WORKBOOK E ADICIONAR ABAS\n// ============================================================================\n\nconst wb = XLSX.utils.book_new();\n\nXLSX.utils.book_append_sheet(wb, criarAbaResumoGeral(sheets, input), '1-RESUMO GERAL');\nXLSX.utils.book_append_sheet(wb, criarAbaApuracaoICMS(sheets), '2-APURAÇÃO ICMS');\nXLSX.utils.book_append_sheet(wb, criarAbaParticipantes(sheets), '3-PARTICIPANTES');\nXLSX.utils.book_append_sheet(wb, criarAbaProdutos(sheets), '4-PRODUTOS');\nXLSX.utils.book_append_sheet(wb, criarAbaNotasFiscais(sheets, input), '5-NOTAS FISCAIS');\nXLSX.utils.book_append_sheet(wb, criarAbaAnaliseCFOP(sheets), '6-ANÁLISE CFOP');\nXLSX.utils.book_append_sheet(wb, criarAbaCombustiveis(sheets), '7-COMBUSTÍVEIS');\nXLSX.utils.book_append_sheet(wb, criarAbaContagemRegistros(sheets), '8-CONTAGEM REG');\n\n// ============================================================================\n// GERAR ARQUIVO E RETORNAR\n// ============================================================================\n\nconst xlsxBuffer = XLSX.write(wb, { type: 'buffer', bookType: 'xlsx' });\nconst xlsxBase64 = xlsxBuffer.toString('base64');\n\nconst outputFilename = input.filenameOutput || `SPED_ICMS_IPI_${Date.now()}.xlsx`;\n\nreturn [{\n  json: {\n    success: true,\n    loteId: input.loteId,\n    arquivoIndex: input.arquivoIndex,\n    totalArquivos: input.totalArquivos,\n    filenameOriginal: input.filenameOriginal,\n    filenameOutput: outputFilename,\n    s3Path: input.s3Path,\n    s3Directory: input.s3Directory,\n    tipoSped: input.tipoSped,\n    empresaId: input.empresaId,\n    empresaNome: input.empresaNome,\n    competencia: input.competencia,\n    summary: input.summary,\n    processedAt: input.processedAt,\n  },\n  binary: {\n    data: {\n      data: xlsxBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: outputFilename\n    }\n  }\n}];"
        },
        "id": "cd44e2b1-c867-4339-979b-7eaff1c85356",
        "name": "Gerar XLSX ICMS/IPI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          -144
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================================\n// GERADOR DE XLSX SPED CONTRIBUIÇÕES (PIS/COFINS) - MÚLTIPLAS ABAS FORMATADAS\n// ============================================================================\n\nconst XLSX = require('xlsx');\n\nconst input = $input.first().json;\nconst sheets = input.sheets;\n\n// ============================================================================\n// FUNÇÕES AUXILIARES\n// ============================================================================\n\nfunction formatCurrency(value) {\n  if (value === null || value === undefined || isNaN(value)) return 0;\n  return Number(value);\n}\n\n// ============================================================================\n// CRIAR ABAS\n// ============================================================================\n\nfunction criarAbaResumoGeral(sheets, input) {\n  const summary = input.summary || {};\n  \n  const data = [\n    ['ANÁLISE SPED EFD CONTRIBUIÇÕES - PIS/COFINS'],\n    [],\n    ['DADOS DA EMPRESA'],\n    ['Razão Social:', summary.empresa_arquivo || ''],\n    ['CNPJ:', summary.cnpj_arquivo || ''],\n    ['Período:', summary.periodo || ''],\n    [],\n    ['ESTATÍSTICAS DO ARQUIVO'],\n    ['Total de Registros:', summary.total_registros || 0],\n    ['Participantes:', summary.participantes || 0],\n    ['Itens/Produtos:', summary.itens || 0],\n    ['Documentos de Entrada:', summary.docs_entrada || 0],\n    ['Documentos de Saída:', summary.docs_saida || 0],\n    [],\n    ['RESUMO FINANCEIRO'],\n    ['Receita Bruta Total (R$):', formatCurrency(summary.receita_bruta)],\n    ['Base de Cálculo PIS (R$):', formatCurrency(summary.base_pis)],\n    ['Valor PIS (R$):', formatCurrency(summary.valor_pis)],\n    ['Base de Cálculo COFINS (R$):', formatCurrency(summary.base_cofins)],\n    ['Valor COFINS (R$):', formatCurrency(summary.valor_cofins)],\n    [],\n    ['TRIBUTOS A RECOLHER'],\n    ['PIS a Recolher (R$):', formatCurrency(summary.pis_recolher)],\n    ['COFINS a Recolher (R$):', formatCurrency(summary.cofins_recolher)],\n    ['TOTAL A RECOLHER (R$):', formatCurrency((summary.pis_recolher || 0) + (summary.cofins_recolher || 0))]\n  ];\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 35 }, { wch: 50 }];\n  return ws;\n}\n\nfunction criarAbaApuracaoPIS(sheets) {\n  const apuracao = sheets['APURAÇÃO PIS'] || [];\n  \n  const data = [\n    ['APURAÇÃO DA CONTRIBUIÇÃO PARA O PIS/PASEP'],\n    [],\n    ['Campo', 'Valor (R$)']\n  ];\n  \n  if (Array.isArray(apuracao)) {\n    for (const row of apuracao) {\n      if (Array.isArray(row) && row.length >= 2) {\n        data.push(row);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 50 }, { wch: 20 }];\n  return ws;\n}\n\nfunction criarAbaApuracaoCOFINS(sheets) {\n  const apuracao = sheets['APURAÇÃO COFINS'] || [];\n  \n  const data = [\n    ['APURAÇÃO DA CONTRIBUIÇÃO PARA A COFINS'],\n    [],\n    ['Campo', 'Valor (R$)']\n  ];\n  \n  if (Array.isArray(apuracao)) {\n    for (const row of apuracao) {\n      if (Array.isArray(row) && row.length >= 2) {\n        data.push(row);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 50 }, { wch: 20 }];\n  return ws;\n}\n\nfunction criarAbaResumoCstPIS(sheets) {\n  const cstData = sheets['RESUMO CST PIS'] || [];\n  \n  const data = [\n    ['RESUMO POR CST - PIS'],\n    [],\n    ['CST', 'Descrição', 'Qtd Registros', 'Base de Cálculo', 'Valor Contribuição']\n  ];\n  \n  if (Array.isArray(cstData)) {\n    for (const c of cstData) {\n      if (typeof c === 'object' && c !== null) {\n        data.push([\n          c['CST'] || '',\n          c['Descrição'] || '',\n          c['Qtd Registros'] || 0,\n          formatCurrency(c['Base de Cálculo']),\n          formatCurrency(c['Valor Contribuição'])\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 8 }, { wch: 60 }, { wch: 15 }, { wch: 18 }, { wch: 18 }];\n  return ws;\n}\n\nfunction criarAbaResumoCstCOFINS(sheets) {\n  const cstData = sheets['RESUMO CST COFINS'] || [];\n  \n  const data = [\n    ['RESUMO POR CST - COFINS'],\n    [],\n    ['CST', 'Descrição', 'Qtd Registros', 'Base de Cálculo', 'Valor Contribuição']\n  ];\n  \n  if (Array.isArray(cstData)) {\n    for (const c of cstData) {\n      if (typeof c === 'object' && c !== null) {\n        data.push([\n          c['CST'] || '',\n          c['Descrição'] || '',\n          c['Qtd Registros'] || 0,\n          formatCurrency(c['Base de Cálculo']),\n          formatCurrency(c['Valor Contribuição'])\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 8 }, { wch: 60 }, { wch: 15 }, { wch: 18 }, { wch: 18 }];\n  return ws;\n}\n\nfunction criarAbaParticipantes(sheets) {\n  const participantes = sheets['PARTICIPANTES'] || [];\n  \n  const data = [\n    ['CADASTRO DE PARTICIPANTES'],\n    [],\n    ['Código', 'Nome', 'CNPJ', 'CPF', 'IE', 'Cód.Município']\n  ];\n  \n  if (Array.isArray(participantes)) {\n    for (const p of participantes) {\n      if (typeof p === 'object' && p !== null) {\n        data.push([\n          p['Código'] || '',\n          p['Nome'] || '',\n          p['CNPJ'] || '',\n          p['CPF'] || '',\n          p['IE'] || '',\n          p['Cód.Município'] || ''\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 18 }, { wch: 45 }, { wch: 20 }, { wch: 15 }, { wch: 15 }, { wch: 12 }];\n  return ws;\n}\n\nfunction criarAbaProdutos(sheets) {\n  const produtos = sheets['PRODUTOS'] || [];\n  \n  const data = [\n    ['CADASTRO DE PRODUTOS/ITENS'],\n    [],\n    ['Código', 'Descrição', 'Cód.Barras', 'Unidade', 'Tipo', 'NCM']\n  ];\n  \n  if (Array.isArray(produtos)) {\n    for (const p of produtos) {\n      if (typeof p === 'object' && p !== null) {\n        data.push([\n          p['Código'] || '',\n          p['Descrição'] || '',\n          p['Cód.Barras'] || '',\n          p['Unidade'] || '',\n          p['Tipo'] || '',\n          p['NCM'] || ''\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 15 }, { wch: 60 }, { wch: 15 }, { wch: 10 }, { wch: 10 }, { wch: 12 }];\n  return ws;\n}\n\nfunction criarAbaDocumentos(sheets, input) {\n  const docs = sheets['DOCUMENTOS'] || [];\n  const summary = input.summary || {};\n  \n  const data = [\n    ['DOCUMENTOS FISCAIS'],\n    [],\n    ['RESUMO:'],\n    ['Documentos de Entrada:', summary.docs_entrada || 0],\n    ['Documentos de Saída:', summary.docs_saida || 0],\n    ['Receita Bruta Total (R$):', formatCurrency(summary.receita_bruta)],\n    [],\n    [],\n    ['DETALHAMENTO:'],\n    [],\n    ['Tipo', 'Operação', 'Emitente', 'Participante', 'Modelo', 'Série', 'Número', 'Data', 'Valor Doc', 'BC PIS', 'Valor PIS', 'BC COFINS', 'Valor COFINS']\n  ];\n  \n  if (Array.isArray(docs)) {\n    for (const d of docs.slice(0, 10000)) {\n      if (typeof d === 'object' && d !== null) {\n        data.push([\n          d['Tipo'] || '',\n          d['Operação'] || '',\n          d['Emitente'] || '',\n          d['Participante'] || '',\n          d['Modelo'] || '',\n          d['Série'] || '',\n          d['Número'] || '',\n          d['Data'] || '',\n          formatCurrency(d['Valor Documento']),\n          formatCurrency(d['BC PIS']),\n          formatCurrency(d['Valor PIS']),\n          formatCurrency(d['BC COFINS']),\n          formatCurrency(d['Valor COFINS'])\n        ]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 12 }, { wch: 10 }, { wch: 10 }, { wch: 18 }, { wch: 8 }, { wch: 6 }, { wch: 10 }, { wch: 12 }, { wch: 15 }, { wch: 15 }, { wch: 12 }, { wch: 15 }, { wch: 12 }];\n  return ws;\n}\n\nfunction criarAbaContagemRegistros(sheets) {\n  const contagem = sheets['CONTAGEM REGISTROS'] || [];\n  const data = [['CONTAGEM DE REGISTROS POR TIPO'], [], ['Registro', 'Quantidade']];\n  \n  if (Array.isArray(contagem)) {\n    for (const c of contagem) {\n      if (typeof c === 'object' && c !== null) {\n        data.push([c['Registro'] || '', c['Quantidade'] || 0]);\n      }\n    }\n  }\n  \n  const ws = XLSX.utils.aoa_to_sheet(data);\n  ws['!cols'] = [{ wch: 15 }, { wch: 15 }];\n  return ws;\n}\n\n// ============================================================================\n// CRIAR WORKBOOK E ADICIONAR ABAS\n// ============================================================================\n\nconst wb = XLSX.utils.book_new();\n\nXLSX.utils.book_append_sheet(wb, criarAbaResumoGeral(sheets, input), '1-RESUMO GERAL');\nXLSX.utils.book_append_sheet(wb, criarAbaApuracaoPIS(sheets), '2-APURAÇÃO PIS');\nXLSX.utils.book_append_sheet(wb, criarAbaApuracaoCOFINS(sheets), '3-APURAÇÃO COFINS');\nXLSX.utils.book_append_sheet(wb, criarAbaResumoCstPIS(sheets), '4-RESUMO CST PIS');\nXLSX.utils.book_append_sheet(wb, criarAbaResumoCstCOFINS(sheets), '5-RESUMO CST COFINS');\nXLSX.utils.book_append_sheet(wb, criarAbaParticipantes(sheets), '6-PARTICIPANTES');\nXLSX.utils.book_append_sheet(wb, criarAbaProdutos(sheets), '7-PRODUTOS');\nXLSX.utils.book_append_sheet(wb, criarAbaDocumentos(sheets, input), '8-DOCUMENTOS');\nXLSX.utils.book_append_sheet(wb, criarAbaContagemRegistros(sheets), '9-CONTAGEM REG');\n\n// ============================================================================\n// GERAR ARQUIVO E RETORNAR\n// ============================================================================\n\nconst xlsxBuffer = XLSX.write(wb, { type: 'buffer', bookType: 'xlsx' });\nconst xlsxBase64 = xlsxBuffer.toString('base64');\n\nconst outputFilename = input.filenameOutput || `SPED_PISCOFINS_${Date.now()}.xlsx`;\n\nreturn [{\n  json: {\n    success: true,\n    loteId: input.loteId,\n    arquivoIndex: input.arquivoIndex,\n    totalArquivos: input.totalArquivos,\n    filenameOriginal: input.filenameOriginal,\n    filenameOutput: outputFilename,\n    s3Path: input.s3Path,\n    s3Directory: input.s3Directory,\n    tipoSped: input.tipoSped,\n    empresaId: input.empresaId,\n    empresaNome: input.empresaNome,\n    competencia: input.competencia,\n    summary: input.summary,\n    processedAt: input.processedAt,\n  },\n  binary: {\n    data: {\n      data: xlsxBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: outputFilename\n    }\n  }\n}];"
        },
        "id": "960f224d-5723-4bba-93be-a7278c8a0952",
        "name": "Gerar XLSX Contribuições",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          64
        ]
      }
    ],
    "connections": {
      "Webhook - Recebe Upload": {
        "main": [
          [
            {
              "node": "Validar Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Request": {
        "main": [
          [
            {
              "node": "Separar Arquivos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separar Arquivos": {
        "main": [
          [
            {
              "node": "Tipo SPED?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tipo SPED?": {
        "main": [
          [
            {
              "node": "Processar ICMS/IPI",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Processar Contribuições",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar ICMS/IPI": {
        "main": [
          [
            {
              "node": "Gerar XLSX ICMS/IPI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Processar Contribuições": {
        "main": [
          [
            {
              "node": "Gerar XLSX Contribuições",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload S3": {
        "main": [
          [
            {
              "node": "Agregar Resultados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agregar Resultados": {
        "main": [
          [
            {
              "node": "Preparar Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Resposta": {
        "main": [
          [
            {
              "node": "Responder Sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar XLSX ICMS/IPI": {
        "main": [
          [
            {
              "node": "Upload S3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gerar XLSX Contribuições": {
        "main": [
          [
            {
              "node": "Upload S3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "9474c6a00514abf32e506ac1e8a3630f4ad5062151d13e4e269bbbc8b5e3f423"
    }
  }