docs/lote-holerites/webhook-processador-holerites.json
{
  "nodes": [
    {
      "parameters": {
        "content": "Resposta Final\nPreparação e envio da resposta final com metadados.",
        "height": 784,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6128,
        1648
      ],
      "id": "70e772b9-eeb3-47de-97d5-e82c597e992b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Geração e Upload de Excel\nFormatação dos dados, conversão para XLSX e envio ao S3.",
        "height": 1008,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5712,
        1648
      ],
      "id": "0cdd43d0-5331-44ce-ae31-a6835d83df1b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Processamento e Cálculo\nCálculo dos dados a partir da análise com IA.",
        "height": 320,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5328,
        1648
      ],
      "id": "57b98af1-c984-496c-9e0d-e227d5712f12",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Processamento com IA (OpenAI)\nUso do GPT-5 mini para extrair JSON consolidado em uma única chamada por PDF.",
        "height": 560,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4944,
        1648
      ],
      "id": "1df94b5c-3afd-4fa0-a1b9-3652b697dd76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Texto Único\nConsolidação do OCR em um único chatInput para reduzir chamadas de IA.",
        "height": 848,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        1648
      ],
      "id": "50c96a8a-0922-4d51-844b-59b52d6cf856",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Upload e Extração de Texto\nEnvio ao S3 e extração de texto com Mistral.",
        "height": 720,
        "width": 352,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4176,
        1648
      ],
      "id": "c905a808-8566-4321-923b-51a7b9edb7f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Webhook e Validação\nRecepção e preparação dos dados do PDF.\n\n✅ AJUSTE 3: Suporte a lote de até 12 arquivos.\nCada arquivo tem sua própria competência.",
        "height": 560,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3792,
        1648
      ],
      "id": "57e403b9-0272-45f8-b663-dfe6dd6b4045",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, X-Requested-With"
              },
              {
                "name": "Access-Control-Expose-Headers",
                "value": "Content-Length, Content-Type, Content-Disposition"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6256,
        2224
      ],
      "id": "441fef8e-ceee-4a4a-ad58-6bb2297d9afa",
      "name": "Responder Webhook"
    },
    {
      "parameters": {
        "jsCode": "const s3Data = $input.first().json;\nconst dadosLote = $('Validar e Preparar Dados').first().json;\n\nlet todosResultados = [];\ntry {\n  todosResultados = $('Processar e Calcular').all();\n} catch (error) {\n  todosResultados = [];\n}\n\nconst valorTotal = todosResultados.reduce((sum, item) => sum + (Number(item.json.valor) || 0), 0);\nconst creditoTotal = todosResultados.reduce((sum, item) => sum + (Number(item.json.credito) || 0), 0);\n\nlet pdfUrl = null;\ntry {\n  const pdfUpload = $('Upload PDF para S').first().json;\n  pdfUrl = pdfUpload.Location || pdfUpload.location || null;\n} catch (error) {\n  pdfUrl = null;\n}\n\nconst downloadUrl = s3Data.s3_location_real || s3Data.s3_location;\nconst excelFilename = s3Data.excel_filename || `holerite_lote_${dadosLote.total_arquivos}competencias.xlsx`;\n\n// Pega competência do primeiro arquivo para manter compatibilidade com campos antigos\nconst primeiroArquivo = dadosLote.arquivos ? dadosLote.arquivos[0] : null;\nconst competenciaLegacy = primeiroArquivo ? primeiroArquivo.competencia : (dadosLote.competencia || '');\nconst fileIdLegacy = primeiroArquivo ? primeiroArquivo.file_id : (dadosLote.file_id || '');\n\nconst response = {\n  // Campos de status\n  success: true,\n  ok: true,\n  completed: true,\n  status: 'completed',\n  message: `Processamento em lote concluído: ${dadosLote.total_arquivos} competência(s) processada(s)`,\n\n  // Campos de identificação — mantidos para compatibilidade com front-end\n  processing_id: s3Data.processing_id || dadosLote.processing_id,\n  file_id: s3Data.file_id || fileIdLegacy,\n\n  // Campos de arquivo — TODOS os formatos de nome/url que o front-end pode usar\n  filename: excelFilename,\n  excel_filename: excelFilename,\n  nome_arquivo: excelFilename,\n  mime_type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  content_type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n\n  // URLs de download — TODOS os campos possíveis para garantir compatibilidade\n  download_url: downloadUrl,\n  url: downloadUrl,\n  excel_url: downloadUrl,\n  file_url: downloadUrl,\n  fileUrl: downloadUrl,\n  downloadUrl: downloadUrl,\n  link: downloadUrl,\n  href: downloadUrl,\n\n  // Objeto data completo — mantém estrutura original + campos novos de lote\n  data: {\n    processing_id: s3Data.processing_id || dadosLote.processing_id,\n\n    // Campos legados (arquivo único) — mantidos para compatibilidade\n    competencia: competenciaLegacy,\n    file_id: fileIdLegacy,\n    processado_em: new Date().toISOString(),\n\n    // Campos novos de lote\n    total_arquivos: dadosLote.total_arquivos,\n    competencias: dadosLote.arquivos ? dadosLote.arquivos.map(a => a.competencia) : [competenciaLegacy],\n\n    arquivo: {\n      // Campos legados\n      file_id: fileIdLegacy,\n      filename: excelFilename,\n      excel_filename: excelFilename,\n      status: 'success',\n\n      // URLs em todos os formatos possíveis\n      url: downloadUrl,\n      excel_url: downloadUrl,\n      download_url: downloadUrl,\n      file_url: downloadUrl,\n      fileUrl: downloadUrl,\n      downloadUrl: downloadUrl,\n      link: downloadUrl,\n      href: downloadUrl,\n\n      mime_type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n\n      // Objeto urls aninhado (existia no original)\n      urls: {\n        pdf: pdfUrl,\n        excel: downloadUrl,\n        excel_download: downloadUrl,\n        download: downloadUrl\n      }\n    },\n\n    resumo: {\n      total_proventos: todosResultados.length,\n      total_rubricas: todosResultados.length,\n      valor_total: parseFloat(valorTotal.toFixed(2)),\n      credito_total: parseFloat(creditoTotal.toFixed(2))\n    }\n  }\n};\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  const key = `processing_${dadosLote.processing_id}`;\n  staticData[key] = { status: 'completed', createdAt: Date.now(), response };\n} catch (error) {}\n\nreturn [{ json: response }];"
      },
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        2000
      ],
      "id": "4cbc7708-ad37-40ef-a111-148c9c3b082e"
    },
    {
      "parameters": {
        "jsCode": "const uploadResult = $input.first().json;\nconst metadados = $('Adicionar Metadados ao XLSX').first().json;\n\nif (!uploadResult.ETag && !uploadResult.Location) {\n  throw new Error('Upload para S3 falhou - sem ETag ou Location retornado');\n}\n\nreturn [{\n  json: {\n    ...metadados,\n    upload_success: true,\n    uploaded_at: new Date().toISOString(),\n    s3_etag: uploadResult.ETag,\n    s3_location_real: uploadResult.Location\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        1760
      ],
      "id": "76479aea-8edd-4f6f-aaff-113a3fafb988",
      "name": "Recuperar Metadados"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "e7pdf-holerite",
        "fileName": "={{ $json.s3_key }}",
        "additionalFields": {
          "acl": "publicRead",
          "storageClass": "standard"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        5856,
        2480
      ],
      "id": "88efeeb0-bcea-417e-bd52-a756a9a89098",
      "name": "Upload XLSX para S3",
      "credentials": {
        "aws": {
          "id": "xtXoYdILeaEmVmMk",
          "name": "AWS S3 - E7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ AJUSTE 3+4: Nome do arquivo reflete o lote\nconst xlsxItem = $input.first();\nconst dadosLote = $('Validar e Preparar Dados').first().json;\n\nconst totalArquivos = dadosLote.total_arquivos || 1;\nconst companyNameLimpo = (dadosLote.company_name || 'empresa').replace(/[^a-zA-Z0-9\\s]/g, '').trim();\n\n// Nome do arquivo consolidado com todas as competências\nconst competencias = dadosLote.arquivos\n  ? dadosLote.arquivos.map(a => a.competencia.replace('/', '_')).join('-')\n  : 'lote';\n\nconst nomeArquivoLimpo = `holerite_lote_${competencias}_${companyNameLimpo}.xlsx`;\n\nconst bucket = 'e7pdf-holerite';\nconst region = 'sa-east-1';\nconst s3Key = `e7-holerite/${companyNameLimpo.replace(/\\s/g, '_').toLowerCase()}/lote/${competencias}/extracao_excel/${nomeArquivoLimpo}`;\n\nconst binaryData = xlsxItem.binary;\nconst binaryKey = Object.keys(binaryData)[0];\nconst updatedBinary = {};\nupdatedBinary[binaryKey] = {\n  ...binaryData[binaryKey],\n  fileName: nomeArquivoLimpo\n};\n\nreturn [{\n  json: {\n    company_name: dadosLote.company_name,\n    company_cnpj: dadosLote.company_cnpj,\n    company_id: dadosLote.company_id,\n    total_arquivos: totalArquivos,\n    competencias: dadosLote.arquivos ? dadosLote.arquivos.map(a => a.competencia) : [],\n    processing_id: dadosLote.processing_id,\n    timestamp: new Date().toISOString(),\n    s3_bucket: bucket,\n    s3_region: region,\n    s3_key: s3Key,\n    s3_location: `https://${bucket}.s3.${region}.amazonaws.com/${encodeURIComponent(s3Key).replace(/%2F/g, '/')}`,\n    excel_filename: nomeArquivoLimpo\n  },\n  binary: updatedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        2224
      ],
      "id": "418b4373-e888-4055-af9f-5d61c3c65bd7",
      "name": "Adicionar Metadados ao XLSX"
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "={{ 'holerite_lote_' + $('Validar e Preparar Dados').first().json.total_arquivos + 'competencias.xlsx' }}",
          "headerRow": true
        }
      },
      "name": "Converter para XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        5856,
        1984
      ],
      "id": "29cd7a51-8031-402d-926c-19260775d28f"
    },
    {
      "parameters": {
        "jsCode": "// ✅ AJUSTE 1: SELIC zerada (coluna mantida, sem preenchimento automático)\n// ✅ AJUSTE 4: Consolidar todos os itens de todos os arquivos e ordenar por competência\n\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('Nenhum dado para consolidar');\n}\n\nconst todasLinhas = items.map(item => {\n  const data = item.json;\n  return {\n    'COD': data.cod,\n    'Nome Rubrica': data.nome_rubrica,\n    'Valor': data.valor,\n    'Contribuição': data.contribuicao,\n    'RAT': data.rat + '%',\n    'VL RAT AJUSTADO': data.vl_rat_ajustado,\n    'TERCEIROS 5,8': data.terceiros + '%',\n    'VL CONT TERCEIROS': data.vl_cont_terceiros,\n    'TOTAL': data.total,\n    // ✅ SELIC: coluna mantida, vazia para preenchimento manual\n    'SELIC': '',\n    'VL SELIC': '',\n    'Crédito': data.credito,\n    // ✅ Período como MM/AAAA\n    'Período': data.periodo,\n    'CNPJ': data.cnpj,\n    _mes: parseInt((data.periodo || '').split('/')[0] || 0),\n    _ano: parseInt((data.periodo || '').split('/')[1] || 0)\n  };\n});\n\n// ✅ AJUSTE 4: Ordena por competência (mais antigo → mais novo)\ntodasLinhas.sort((a, b) => {\n  if (a._ano !== b._ano) return a._ano - b._ano;\n  return a._mes - b._mes;\n});\n\n// Remove campos auxiliares de ordenação\nconst linhasLimpas = todasLinhas.map(({ _mes, _ano, ...resto }) => resto);\n\n// Agrupa por período para subtotais\nconst porPeriodo = {};\nfor (const linha of linhasLimpas) {\n  const p = linha['Período'] || 'SEM_PERIODO';\n  if (!porPeriodo[p]) porPeriodo[p] = [];\n  porPeriodo[p].push(linha);\n}\n\n// Monta resultado final com subtotais por competência\nconst resultado = [];\nconst periodosOrdenados = Object.keys(porPeriodo).sort((a, b) => {\n  const [ma, aa] = a.split('/').map(Number);\n  const [mb, ab] = b.split('/').map(Number);\n  return aa !== ab ? aa - ab : ma - mb;\n});\n\nfor (const periodo of periodosOrdenados) {\n  const grupo = porPeriodo[periodo];\n  resultado.push(...grupo);\n\n  // Linha de subtotal por competência\n  resultado.push({\n    'COD': `SUBTOTAL ${periodo}`,\n    'Nome Rubrica': '',\n    'Valor': grupo.reduce((s, r) => s + (parseFloat(r['Valor']) || 0), 0),\n    'Contribuição': grupo.reduce((s, r) => s + (parseFloat(r['Contribuição']) || 0), 0),\n    'RAT': '',\n    'VL RAT AJUSTADO': grupo.reduce((s, r) => s + (parseFloat(r['VL RAT AJUSTADO']) || 0), 0),\n    'TERCEIROS 5,8': '',\n    'VL CONT TERCEIROS': grupo.reduce((s, r) => s + (parseFloat(r['VL CONT TERCEIROS']) || 0), 0),\n    'TOTAL': grupo.reduce((s, r) => s + (parseFloat(r['TOTAL']) || 0), 0),\n    'SELIC': '',\n    'VL SELIC': '',\n    'Crédito': grupo.reduce((s, r) => s + (parseFloat(r['Crédito']) || 0), 0),\n    'Período': periodo,\n    'CNPJ': ''\n  });\n}\n\n// Linha de total geral\nresultado.push({\n  'COD': 'TOTAL GERAL',\n  'Nome Rubrica': '',\n  'Valor': linhasLimpas.reduce((s, r) => s + (parseFloat(r['Valor']) || 0), 0),\n  'Contribuição': linhasLimpas.reduce((s, r) => s + (parseFloat(r['Contribuição']) || 0), 0),\n  'RAT': '',\n  'VL RAT AJUSTADO': linhasLimpas.reduce((s, r) => s + (parseFloat(r['VL RAT AJUSTADO']) || 0), 0),\n  'TERCEIROS 5,8': '',\n  'VL CONT TERCEIROS': linhasLimpas.reduce((s, r) => s + (parseFloat(r['VL CONT TERCEIROS']) || 0), 0),\n  'TOTAL': linhasLimpas.reduce((s, r) => s + (parseFloat(r['TOTAL']) || 0), 0),\n  'SELIC': '',\n  'VL SELIC': '',\n  'Crédito': linhasLimpas.reduce((s, r) => s + (parseFloat(r['Crédito']) || 0), 0),\n  'Período': '',\n  'CNPJ': ''\n});\n\nreturn resultado.map((row, index) => ({ json: row, pairedItem: index }));"
      },
      "name": "Formatar Dados XLSX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        1760
      ],
      "id": "a718b47b-ab34-4ccc-896d-c3dd97dc7434"
    },
    {
      "parameters": {
        "jsCode": "// ✅ FIX FINAL: extrair competência do nome do arquivo (preservado pelo Mistral no binary)\n// Padrão do fileName: COMP[MM-AAAA]__IDX[N]__FID[file_id].pdf\n// Esse padrão é definido no Validar e Preparar Dados\n\nconst inputItems = $input.all();\nif (!inputItems || inputItems.length === 0) {\n  throw new Error('Nenhuma saída do AI Agent recebida');\n}\n\n// Pega todos os itens do Validar (lista com competências)\nconst metadadosPorArquivo = $('Validar e Preparar Dados').all().map(i => i.json);\n\n// Função para extrair competência do fileName padronizado\nfunction extrairCompetenciaDoNome(fileName) {\n  if (!fileName) return null;\n  const m = fileName.match(/COMP\\[(\\d{2})-(\\d{4})\\]/);\n  if (m) return { mes: m[1], ano: m[2], competencia: `${m[1]}/${m[2]}` };\n  return null;\n}\n\nfunction extrairIdxDoNome(fileName) {\n  if (!fileName) return null;\n  const m = fileName.match(/IDX\\[(\\d+)\\]/);\n  return m ? (parseInt(m[1]) - 1) : null;\n}\n\nfunction extrairFileIdDoNome(fileName) {\n  if (!fileName) return null;\n  const m = fileName.match(/FID\\[([^\\]]+)\\]/);\n  return m ? m[1] : null;\n}\n\n// Função para buscar o fileName do PDF original a partir do output do AI\n// Pode estar em diferentes lugares dependendo do fluxo\nfunction buscarFileNameDoItem(idx) {\n  // Tenta pelo input do AI Agent\n  try {\n    const aiInputs = $('Preparar chatInput').all();\n    if (aiInputs[idx]) {\n      // Procura no binary\n      const bin = aiInputs[idx].binary;\n      if (bin) {\n        for (const key of Object.keys(bin)) {\n          if (bin[key].fileName) return bin[key].fileName;\n        }\n      }\n      // Procura no json\n      if (aiInputs[idx].json && aiInputs[idx].json.nomeArquivo) {\n        return aiInputs[idx].json.nomeArquivo;\n      }\n    }\n  } catch (e) {}\n\n  // Tenta pelo Preparar Texto Único\n  try {\n    const tu = $('Preparar Texto Único').all();\n    if (tu[idx]) {\n      const bin = tu[idx].binary;\n      if (bin) {\n        for (const key of Object.keys(bin)) {\n          if (bin[key].fileName) return bin[key].fileName;\n        }\n      }\n    }\n  } catch (e) {}\n\n  // Tenta pelo Extract text\n  try {\n    const ex = $('Extract text').all();\n    if (ex[idx]) {\n      const bin = ex[idx].binary;\n      if (bin) {\n        for (const key of Object.keys(bin)) {\n          if (bin[key].fileName) return bin[key].fileName;\n        }\n      }\n    }\n  } catch (e) {}\n\n  // Tenta pelo Validar (último recurso)\n  try {\n    const v = $('Validar e Preparar Dados').all();\n    if (v[idx]) {\n      const bin = v[idx].binary;\n      if (bin) {\n        for (const key of Object.keys(bin)) {\n          if (bin[key].fileName) return bin[key].fileName;\n        }\n      }\n    }\n  } catch (e) {}\n\n  return null;\n}\n\nfunction parseOutput(output) {\n  if (!output) return null;\n  try {\n    if (typeof output === 'string') {\n      const clean = output.replace(/```json/g, '').replace(/```/g, '').trim();\n      const start = clean.indexOf('{');\n      const end = clean.lastIndexOf('}');\n      if (start >= 0 && end >= 0) return JSON.parse(clean.slice(start, end + 1));\n      return JSON.parse(clean);\n    }\n    return output;\n  } catch (e) {\n    return null;\n  }\n}\n\nfunction isResumoOuBase(prov) {\n  const codigo = String(prov.codigo || prov.cod || '').toUpperCase();\n  const nome = String(prov.nome || prov.nome_rubrica || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toUpperCase();\n  return codigo.includes('SALARIO_CONTRIB') ||\n    nome.includes('SALARIO CONTRIBUICAO') ||\n    nome.includes('SALARIO DE CONTRIBUICAO') ||\n    nome.includes('CONTRIBUICAO EMPREGADOS') ||\n    nome.includes('CONTRIBUICAO CONTRIBUINTES');\n}\n\nconst RAT = 2.00;\nconst TERCEIROS = 5.80;\nconst vistos = new Set();\nconst saida = [];\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  const item = inputItems[idx];\n  const parsed = parseOutput(item.json.output);\n  if (!parsed || !Array.isArray(parsed.proventos)) continue;\n\n  // 1ª TENTATIVA: extrair competência do fileName padronizado\n  const fileName = buscarFileNameDoItem(idx);\n  const fromName = extrairCompetenciaDoNome(fileName);\n  const idxDoNome = extrairIdxDoNome(fileName);\n  const fileIdDoNome = extrairFileIdDoNome(fileName);\n\n  // 2ª TENTATIVA: casar pelo índice do nome (mais confiável que idx do loop)\n  // Se o fileName tem IDX[N], usa esse N para indexar metadadosPorArquivo\n  const idxMeta = idxDoNome !== null ? idxDoNome : idx;\n  const meta = metadadosPorArquivo[idxMeta] || metadadosPorArquivo[idx] || metadadosPorArquivo[0] || {};\n\n  // Prioridade: nome do arquivo > metadados do Validar > JSON do AI\n  const competenciaArquivo =\n    (fromName ? fromName.competencia : null) ||\n    meta.competencia ||\n    parsed.competencia ||\n    '';\n\n  if (!competenciaArquivo) {\n    throw new Error(`Não foi possível determinar competência para o item ${idx}. fileName: ${fileName}, meta keys: ${Object.keys(meta).join(',')}`);\n  }\n\n  const empresaNome =\n    (typeof parsed.empresa === 'string' ? parsed.empresa : (parsed.empresa?.nome || '')) ||\n    meta.company_name ||\n    '';\n\n  const cnpjEmpresa =\n    parsed.cnpj ||\n    (typeof parsed.empresa === 'object' ? parsed.empresa?.cnpj : '') ||\n    meta.company_cnpj ||\n    '';\n\n  for (const prov of parsed.proventos) {\n    if (!prov || isResumoOuBase(prov)) continue;\n    const codigo = String(prov.codigo || prov.cod || '').trim();\n    const nome = String(prov.nome || prov.nome_rubrica || '').trim();\n\n    let valor = 0;\n    if (typeof prov.valor === 'number') {\n      valor = prov.valor;\n    } else {\n      const raw = String(prov.valor ?? '').trim();\n      valor = raw.includes(',')\n        ? parseFloat(raw.replace(/\\./g, '').replace(',', '.')) || 0\n        : parseFloat(raw) || 0;\n    }\n\n    const chave = `${competenciaArquivo}|${codigo}|${nome}|${valor.toFixed(2)}`;\n    if (vistos.has(chave)) continue;\n    vistos.add(chave);\n\n    const contribuicao = valor * (RAT / 100);\n    const vl_rat_ajustado = contribuicao * (RAT / 100);\n    const vl_cont_terceiros = valor * (TERCEIROS / 100);\n    const total = contribuicao + vl_rat_ajustado + vl_cont_terceiros;\n\n    saida.push({ json: {\n      cod: codigo,\n      nome_rubrica: nome,\n      valor,\n      contribuicao: parseFloat(contribuicao.toFixed(2)),\n      rat: RAT,\n      vl_rat_ajustado: parseFloat(vl_rat_ajustado.toFixed(2)),\n      terceiros: TERCEIROS,\n      vl_cont_terceiros: parseFloat(vl_cont_terceiros.toFixed(2)),\n      total: parseFloat(total.toFixed(2)),\n      selic: '',\n      vl_selic: '',\n      credito: parseFloat(total.toFixed(2)),\n      periodo: competenciaArquivo,\n      cnpj: cnpjEmpresa,\n      empresa_nome: empresaNome,\n      competencia: competenciaArquivo,\n      tipo_mapeado: prov.categoria || prov.tipo_mapeado || 'OUTROS',\n      // ✅ Auditoria: detecta possível agrupamento indevido de rubricas (nomes unidos por ' / ')\n      alerta_agrupamento: / \\/ /.test(nome) ? 'POSSIVEL RUBRICA AGRUPADA - VERIFICAR' : '',\n      file_id: fileIdDoNome || meta.file_id,\n      processing_id: meta.processing_id\n    }});\n  }\n}\n\nif (saida.length === 0) throw new Error('Nenhum provento foi extraído pelo AI Agent');\nreturn saida;"
      },
      "name": "Processar e Calcular",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        1760
      ],
      "id": "eb4d13c9-e0dc-4d82-a7b0-e5670bbd3616"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você receberá o texto completo de um PDF de folha/holerite, possivelmente com várias páginas.\n\nREGRAS CRÍTICAS PARA EVITAR DUPLICIDADE:\n- Retorne uma única extração final consolidada do documento inteiro.\n- Não retorne uma saída por página.\n- Quando houver páginas individuais e também uma página de resumo/consolidação, priorize a página de resumo/consolidação.\n- Não some páginas individuais com o resumo consolidado.\n- Não inclua linhas de base previdenciária/resumo como \"Salário contribuição empregados\" ou \"Salário contribuição contribuintes\" como proventos.\n- Extraia somente rubricas/eventos de proventos, férias, 13º, adicionais, horas e verbas similares.\n- Retorne somente JSON válido, sem markdown e sem texto fora do objeto JSON.\n\n## REGRAS CRÍTICAS DE SEPARAÇÃO DE RUBRICAS (OBRIGATÓRIO):\n\n1. CADA RUBRICA/CÓDIGO DISTINTO DO HOLERITE DEVE SER UM ITEM SEPARADO no array \"proventos\". NUNCA agrupe rubricas diferentes em um único item, mesmo que pertençam à mesma categoria.\n2. NUNCA some valores de rubricas com códigos diferentes.\n3. NUNCA concatene nomes de rubricas diferentes usando \"/\", \"+\", \"-\", \",\" ou qualquer outro separador. O campo \"nome\" deve conter EXATAMENTE o nome de UMA única rubrica, como aparece no documento.\n4. A \"categoria\" serve APENAS para classificar cada item individualmente. Vários itens podem ter a mesma categoria — isso é normal e esperado. Categoria NÃO é motivo para juntar itens.\n5. A ÚNICA consolidação permitida é quando a MESMA rubrica (mesmo código E mesmo nome) aparece repetida em páginas diferentes referindo-se ao mesmo lançamento — nesse caso, use o valor total/consolidado uma única vez, sem duplicar.\n\n### EXEMPLO DO QUE É PROIBIDO (ERRADO):\n{ \"codigo\": \"vários\", \"nome\": \"Férias / Férias + 1/3 - Contrato Intermitente / Abono de Férias\", \"categoria\": \"FERIAS\", \"valor\": 15000.00 }\n\n### EXEMPLO DO QUE É CORRETO:\n{ \"codigo\": \"050\", \"nome\": \"Férias\", \"categoria\": \"FERIAS\", \"valor\": 8000.00 },\n{ \"codigo\": \"051\", \"nome\": \"Férias + 1/3 - Contrato Intermitente\", \"categoria\": \"FERIAS\", \"valor\": 4000.00 },\n{ \"codigo\": \"052\", \"nome\": \"Abono de Férias\", \"categoria\": \"FERIAS\", \"valor\": 3000.00 }\n\nVocê é um extrator especialista em holerites (folhas de pagamento) brasileiros com expertise avançada em:\n- Contabilidade empresarial e trabalhista\n- Análise de inteligência tributária\n- Interpretação de documentos fiscais e trabalhistas\n- Reconhecimento de padrões em diversos formatos de holerites\n\nOBJETIVO PRINCIPAL:\nExtrair com máxima precisão e fidelidade todos os eventos de PROVENTOS e informações estruturais de holerites, independentemente do sistema de origem, mantendo CADA RUBRICA COMO UMA LINHA INDIVIDUAL.\n\n## INSTRUÇÕES CRÍTICAS DE FORMATAÇÃO:\n\n1. **RETORNE EXCLUSIVAMENTE JSON VÁLIDO**\n   - Nenhum texto explicativo antes ou depois do JSON\n   - Nenhum comentário dentro do JSON\n   - Nenhuma marcação de código (sem ```json)\n   - Apenas o objeto JSON puro\n\n2. **TRATAMENTO DE VALORES MONETÁRIOS**\n   - SEMPRE como número (type: number)\n   - Use ponto decimal (não vírgula): 1234.56\n   - SEM separadores de milhar\n   - Converta \"220:00\" para 220.00\n   - Converta \"1.234,56\" para 1234.56\n   - Converta \"575,34\" para 575.34\n\n3. **TRATAMENTO DE DADOS AUSENTES**\n   - Use null para valores desconhecidos\n   - Nunca use strings vazias para números\n   - Campos opcionais podem ser omitidos\n\n## SCHEMA JSON OBRIGATÓRIO:\n\n{\n  \"empresa\": \"string (nome completo da empresa)\",\n  \"cnpj\": \"string (apenas números, sem pontos/traços)\",\n  \"competencia\": \"string (formato MM/AAAA)\",\n  \"dataEmissao\": \"string (formato DD/MM/AAAA)\",\n  \"proventos\": [\n    {\n      \"codigo\": \"string (COD ou RUBRICA — o código individual desta rubrica)\",\n      \"nome\": \"string (descrição de UMA única rubrica, exatamente como no documento)\",\n      \"categoria\": \"string (ver categorias abaixo)\",\n      \"valor\": number,\n      \"referencia\": \"string (opcional)\"\n    }\n  ],\n  \"totalizadores\": {\n    \"totalProventos\": number,\n    \"totalDescontos\": number,\n    \"liquido\": number\n  }\n}\n\n## CATEGORIZAÇÃO DE PROVENTOS:\nSALARIO_BASE, ADICIONAL_INSALUBRIDADE, ADICIONAL_PERICULOSIDADE, HORA_EXTRA_50, HORA_EXTRA_100, DSRS, FERIAS, TERCO_FERIAS, SALARIO_13, INSS, FGTS, IRRF, VALE_TRANSPORTE, VALE_REFEICAO, OUTROS\n\n## REGRAS:\n1. Processar TODAS as páginas, listando cada rubrica individualmente\n2. Foco exclusivo em PROVENTOS\n3. Valores exatos como no documento\n4. Consolidar APENAS a mesma rubrica (mesmo código e mesmo nome) repetida entre páginas — nunca rubricas diferentes\n5. Usar valor calculado/total da rubrica\n6. Rubricas de códigos diferentes JAMAIS devem ser somadas ou agrupadas em uma única linha"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5008,
        1760
      ],
      "id": "f9c718aa-3b42-4b1a-abf3-94193f1740ce",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// ✅ FIX: propagar metadados do item (competência, file_id) junto com o texto\nconst out = [];\nfor (const item of $input.all()) {\n  const data = item.json || {};\n  const partes = [];\n  if (Array.isArray(data.pages) && data.pages.length > 0) {\n    for (const pg of data.pages) {\n      if (typeof pg === 'string') partes.push(pg);\n      else if (pg && typeof pg === 'object') partes.push(pg.markdown || pg.text || pg.content || JSON.stringify(pg));\n      else if (pg !== undefined && pg !== null) partes.push(String(pg));\n    }\n  } else {\n    partes.push(data.text || data.markdown || data.content || data.data || '');\n  }\n  const texto = partes.filter(Boolean).map(v => String(v).trim()).filter(Boolean).join('\\n\\n--- QUEBRA DE PÁGINA ---\\n\\n');\n  if (!texto) throw new Error('Nenhum texto extraído para enviar ao modelo');\n\n  // Buscar metadados do Validar usando o file_id ou índice\n  // Como o paired item pode estar quebrado, usamos $('Validar e Preparar Dados').all()\n  // e tentamos casar pelo file_id se disponível\n  let metadados = {};\n  try {\n    const todosValidar = $('Validar e Preparar Dados').all();\n    // Tenta encontrar pelo file_id do binary\n    const fileIdBin = data.file_id || (item.binary && item.binary.pdf && item.binary.pdf.fileName);\n    metadados = todosValidar.find(v => v.json.file_id === fileIdBin || v.json.nomeArquivo === fileIdBin)?.json\n              || todosValidar[0]?.json || {};\n  } catch (e) {\n    metadados = {};\n  }\n\n  out.push({\n    json: {\n      chatInput: texto,\n      totalCaracteres: texto.length,\n      totalPartes: partes.filter(Boolean).length,\n      // ✅ Propaga os metadados da competência junto\n      competencia: metadados.competencia || '',\n      mes: metadados.mes || '',\n      ano: metadados.ano || '',\n      file_id: metadados.file_id || '',\n      nomeArquivo: metadados.nomeArquivo || '',\n      company_name: metadados.company_name || '',\n      company_cnpj: metadados.company_cnpj || '',\n      processing_id: metadados.processing_id || '',\n      total_arquivos: metadados.total_arquivos || 1\n    },\n    pairedItem: item.pairedItem !== undefined ? item.pairedItem : 0\n  });\n}\nreturn out;"
      },
      "id": "b718b94a-2cc7-4104-a91b-3d94d2319524",
      "name": "Preparar Texto Único",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        2112
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ AJUSTE 3: Validar e Preparar Dados — suporte a lote de até 12 arquivos\n// Cada arquivo tem sua própria competência\n\nconst items = $input.all();\nconst item = items[0];\nconst body = item.json.body || item.json;\n\n// Suporte tanto ao formato antigo (um arquivo) quanto ao novo (array de arquivos)\nlet arquivosRaw = [];\n\nif (Array.isArray(body.arquivos) && body.arquivos.length > 0) {\n  // Novo formato: { arquivos: [{ pdf_base64, competencia, file_id, filename }] }\n  arquivosRaw = body.arquivos;\n} else if (Array.isArray(body.files) && body.files.length > 0) {\n  // Compatibilidade com formato anterior\n  arquivosRaw = body.files.map(f => ({\n    pdf_base64: f.pdf_base64,\n    competencia: body.competency || body.competencia,\n    file_id: f.file_id,\n    filename: f.filename\n  }));\n} else if (body.pdf || body.pdf_base64) {\n  // Compatibilidade com envio de arquivo único\n  arquivosRaw = [{\n    pdf_base64: body.pdf || body.pdf_base64,\n    competencia: body.competency || body.competencia,\n    file_id: body.file_id,\n    filename: body.filename\n  }];\n} else {\n  throw new Error('Nenhum arquivo encontrado. Envie via campo \"arquivos\" (array), \"files\" (array) ou \"pdf\" (único).');\n}\n\nif (arquivosRaw.length === 0) throw new Error('Nenhum arquivo recebido');\nif (arquivosRaw.length > 12) throw new Error(`Máximo de 12 arquivos por requisição. Recebidos: ${arquivosRaw.length}`);\n\nconst processing_id = body.processing_id || `proc_${Date.now()}`;\nconst companyData = body.company_data || {};\nconst company_name = body.company_name || companyData.name || 'Empresa';\nconst company_cnpj = body.company_cnpj || companyData.cnpj || '';\nconst company_id = body.company_id || '';\n\n// Valida e prepara cada arquivo\nconst arquivosPreparados = arquivosRaw.map((arq, idx) => {\n  if (!arq.pdf_base64) throw new Error(`Arquivo ${idx + 1} não contém campo 'pdf_base64'`);\n\n  const competenciaRaw = arq.competencia || body.competency || body.competencia || '';\n  if (!competenciaRaw) throw new Error(`Arquivo ${idx + 1} não tem competência definida`);\n\n  const partes = competenciaRaw.toString().split('/');\n  if (partes.length !== 2) throw new Error(`Competência inválida no arquivo ${idx + 1}: use MM/AAAA. Recebido: ${competenciaRaw}`);\n\n  const mes = partes[0].padStart(2, '0');\n  const ano = partes[1];\n  const competencia = `${mes}/${ano}`;\n\n  const pdfBuffer = Buffer.from(arq.pdf_base64, 'base64');\n  const fileId = arq.file_id || `file_${idx + 1}_${Date.now()}`;\n  const filename = arq.filename || `holerite_${competencia.replace('/', '_')}_${idx + 1}.pdf`;\n\n  return {\n    competencia,\n    mes,\n    ano,\n    file_id: fileId,\n    nomeArquivo: filename,\n    pdfBuffer,\n    pdf_base64: arq.pdf_base64\n  };\n});\n\n// ✅ AJUSTE 4: Ordena por competência antes mesmo de processar (mais antigo → mais novo)\narquivosPreparados.sort((a, b) => {\n  if (a.ano !== b.ano) return parseInt(a.ano) - parseInt(b.ano);\n  return parseInt(a.mes) - parseInt(b.mes);\n});\n\n// Emite um item por arquivo para processar individualmente\nreturn arquivosPreparados.map((arq, idx) => ({\n  json: {\n    competencia: arq.competencia,\n    mes: arq.mes,\n    ano: arq.ano,\n    company_id,\n    company_name,\n    company_cnpj,\n    file_id: arq.file_id,\n    nomeArquivo: arq.nomeArquivo,\n    processing_id,\n    indice: idx,\n    total_arquivos: arquivosPreparados.length,\n    arquivos: arquivosPreparados.map(a => ({ competencia: a.competencia, file_id: a.file_id, nomeArquivo: a.nomeArquivo })),\n    timestamp: new Date().toISOString(),\n    ...(body.user_id && { user_id: body.user_id }),\n    ...(body.session_id && { session_id: body.session_id })\n  },\n  binary: {\n    pdf: {\n      data: arq.pdfBuffer,\n      mimeType: 'application/pdf',\n      fileName: arq.nomeArquivo,\n      fileExtension: 'pdf'\n    }\n  }\n}));"
      },
      "name": "Validar e Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        2000
      ],
      "id": "e8dda3a5-47b5-43ea-9b72-c6373f38d7df"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "processar-holerite",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3920,
        1760
      ],
      "id": "5bad52b5-ce7b-48eb-8479-3b3e2a31fac0",
      "name": "Webhook - Receber PDF",
      "webhookId": "f77b7e2a-40fe-4975-b41d-7bab9c2e9d42"
    },
    {
      "parameters": {
        "jsCode": "// ✅ FIX: propagar TODOS os campos, não só chatInput\nconst out = [];\nfor (const item of $input.all()) {\n  out.push({\n    json: { ...item.json },\n    pairedItem: item.pairedItem !== undefined ? item.pairedItem : 0\n  });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        2336
      ],
      "id": "ecf1cbf2-c45c-488e-9b3b-dc25955fb102",
      "name": "Preparar chatInput"
    },
    {
      "parameters": {
        "binaryProperty": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        4672,
        1904
      ],
      "id": "e28070d6-e320-4b68-a1ca-da36e5994ccd",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "tOSJ4PMh5rmt5Df6",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "timeout": 300000,
          "maxRetries": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5088,
        2000
      ],
      "id": "014922ee-b53a-4dc9-80ea-ccab66ca8407",
      "name": "OpenAI Chat Model - GPT-5 mini",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "J5OoPQPVAwRuX0rf",
          "name": "OpenAI-E7"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "e7pdf-holerite",
        "fileName": "={{ 'e7-holerite/' + $json.company_name.replace(/[^a-zA-Z0-9]/g, '_').toLowerCase() + '/' + $json.ano + '/' + $json.competencia.replace('/', '_') + '/' + $json.file_id + '.pdf' }}",
        "binaryPropertyName": "pdf",
        "additionalFields": {
          "acl": "publicRead",
          "storageClass": "standard"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        4288,
        1936
      ],
      "id": "d51b637b-0add-4997-a938-6fa3b2ac1f9e",
      "name": "Upload PDF para S",
      "credentials": {
        "aws": {
          "id": "xtXoYdILeaEmVmMk",
          "name": "AWS S3 - E7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\nconst ttlMs = 30 * 60 * 1000;\nfor (const [k, v] of Object.entries(staticData)) {\n  if (k.startsWith('processing_') && v?.createdAt && now - v.createdAt > ttlMs) {\n    delete staticData[k];\n  }\n}\nconst out = [];\nfor (const item of $input.all()) {\n  const data = item.json || {};\n  if (!data.processing_id) throw new Error('processing_id ausente');\n  const fileKey = data.file_id || data.nomeArquivo || 'arquivo';\n  const key = `processing_${data.processing_id}_${fileKey}`;\n  if (staticData[key]) {\n    out.push({ json: { ...data, duplicate_execution: true, previous_status: staticData[key].status, previous_created_at: staticData[key].createdAt, cached_response: staticData[key].response || null }, binary: item.binary });\n    continue;\n  }\n  staticData[key] = { status: 'processing', createdAt: now };\n  out.push({ json: { ...data, duplicate_execution: false, dedup_key: key }, binary: item.binary });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1728
      ],
      "id": "72f6797e-0eba-4f2e-93fb-da33c48df9fe",
      "name": "Deduplicar Execução"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9f060d6-4d9c-4752-98fb-a14f36fee608",
              "leftValue": "={{ $json.duplicate_execution }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4288,
        2112
      ],
      "id": "17060d29-7688-4b03-bed0-58fd78b29047",
      "name": "É Execução Duplicada?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.cached_response || {\n  \"success\": false,\n  \"duplicate\": true,\n  \"status\": $json.previous_status || \"processing\",\n  \"message\": \"Este processamento já está em andamento\",\n  \"data\": {\n    \"processing_id\": $json.processing_id,\n    \"file_id\": $json.file_id,\n    \"previous_created_at\": $json.previous_created_at\n  }\n} }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, X-Requested-With"
              },
              {
                "name": "Access-Control-Expose-Headers",
                "value": "Content-Length, Content-Type, Content-Disposition"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4672,
        1744
      ],
      "id": "66be3920-28e5-48a0-a2f6-5cfc5114e889",
      "name": "Responder Execução Duplicada"
    }
  ],
  "connections": {
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Metadados": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload XLSX para S3": {
      "main": [
        [
          {
            "node": "Recuperar Metadados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Metadados ao XLSX": {
      "main": [
        [
          {
            "node": "Upload XLSX para S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter para XLSX": {
      "main": [
        [
          {
            "node": "Adicionar Metadados ao XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados XLSX": {
      "main": [
        [
          {
            "node": "Converter para XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar e Calcular": {
      "main": [
        [
          {
            "node": "Formatar Dados XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Processar e Calcular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto Único": {
      "main": [
        [
          {
            "node": "Preparar chatInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e Preparar Dados": {
      "main": [
        [
          {
            "node": "Deduplicar Execução",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receber PDF": {
      "main": [
        [
          {
            "node": "Validar e Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar chatInput": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Preparar Texto Único",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - GPT-5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicar Execução": {
      "main": [
        [
          {
            "node": "É Execução Duplicada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Execução Duplicada?": {
      "main": [
        [
          {
            "node": "Responder Execução Duplicada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload PDF para S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9474c6a00514abf32e506ac1e8a3630f4ad5062151d13e4e269bbbc8b5e3f423"
  }
}